/* =======================================================
WEB - FRONT-END - SKELETON - CONTENT TEMPLATE FIXED TOP BAR
======================================================= */
@import "_supports/colors";

/* GLOBAL VARIABLES */
$side-bar-width-desktop: 20%;
$side-bar-min-width-desktop: 268px;
$side-bar-menu-left-padding: 44px;


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(#000000, .16);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(#000000, .36);
}

::-moz-selection{
    background: $adiwisista-green;
    text-shadow: none;
}
::selection{
    background: $adiwisista-green;
    text-shadow: none;
}


* {
    outline: none;
}
html, body, #side-bar, #side-bar-content, #main-section {
    height: 100%;
}
body {
    background: #f9f9f9;
}
p, label, h1, h2, h3, h4, h5, h6 {
    color: $daksa-cement;
}
button {
    background: $adiwisista-green;
    color: #ffffff;
    font-size: 13px;
    line-height: 100%;
    padding: 12px 36px;
    min-width: 200px;
    &:hover, &:focus {
        background: darken($adiwisista-green, 4);
    }
}
p, label {
    font-family: "OrionSans", sans-serif;
    font-size: 14px;
}
input, textarea, input[type="checkbox"], select {
    font-family: "OrionSans", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    color: $daksa-cement;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: 0 1px 0 rgba($adiwisista-green, .24);
    &:hover, &:focus {
        box-shadow: 0 1px 0 rgba($adiwisista-green, 1);
    }
    &[disabled] {
        box-shadow: 0 1px 0 rgba($daksa-cement, .24);
        &:hover, &:focus {
            box-shadow: 0 1px 0 rgba($daksa-cement, .24);
            cursor: not-allowed;
        }
    }
}


/* DEFAULT VIEWPORT - DESKTOP */
.container {
    width: 80%;
    max-width: 1440px;
    margin: auto;
}
form {
    &.stacked-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .form-group {
            display: inline-block;
            width: 49%;
            &.form-group-table {
                width: 100%;
            }
        }
        p {
            width: 100%;
        }
        button {
            width: auto;
        }
        &.half-width {
            width: 55%;
            margin: 24px auto;
            .form-group {
                width: 100%;
            }
        }
        &.three-quarters-width {
            width: 75%;
            margin: 24px auto;
            .form-group {
                width: 100%;
            }
        }
    }
}
.stacked-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.full-width {
        .form-group {
            width: 100%;
        }
    }
    .form-group {
        display: inline-block;
        width: 49%;
        &.form-group-table {
            width: 100%;
        }
        &.label-camouflage {
            label:first-child {
                display: block;
            }
            label:last-child {
                font-family: "OrionSans", sans-serif;
                display: block;
                width: 100%;
                padding: 6px;
                min-height: 24px;
                margin: 0;
                box-shadow: 0 1px 0 rgba($daksa-cement, .24);
            }
        }
    }
    p {
        width: 100%;
    }
    button {
        width: auto;
    }
    &.half-width {
        width: 55%;
        margin: 24px auto;
        .form-group {
            width: 100%;
        }
    }
    &.three-quarters-width {
        width: 75%;
        margin: 24px auto;
        .form-group {
            width: 100%;
        }
    }
}
.form-group {
    background: rgba(#ffffff, .48);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 1px 0 rgba(#ffffff, 1);
    margin-bottom: 8px;
    &.has-child {
        & > input {
            display: inline-block;
            width: 60%;
        }
    }
    label {
        font-size: 13px;
        line-height: 100%;
        margin-bottom: 8px;
    }
    .form-group-child {
        display: inline-block;
        width: 40%;
        padding-left: 16px;
        label, input {
            display: inline-block;
        }
        label {
            width: 30%;
            margin-right: 0;
        }
        input {
            width: 70%;
        }
    }
}
.form-group-multi-controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .form-group {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        // margin-right: 4px;
        // margin-left: 4px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .col-5 { width: 5%; }
    .col-10 { width: 10%; }
    .col-15 { width: 15%; }
    .col-20 { width: 20%; }
    .col-25 { width: 25%; }
    .col-30 { width: 30%; }
    .col-35 { width: 35%; }
    .col-40 { width: 40%; }
    .col-45 { width: 45%; }
    .col-50 { width: 50%; }
    .col-55 { width: 55%; }
    .col-60 { width: 60%; }
    .col-65 { width: 65%; }
    .col-70 { width: 70%; }
    .col-75 { width: 75%; }
    .col-80 { width: 80%; }
    .col-85 { width: 85%; }
    .col-90 { width: 90%; }
    .col-95 { width: 95%; }
}
.invisible-form-group-separator {
    width: 100%;
    margin: 12px 0;
    border: none;
}
.dialog-body {
    // max-height: 360px;
    max-height: 280px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 24px 24px 72px;
}
.icon-on-form {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    &.icon-edit {
        background-image: url("../img/icon-edit.svg");
    }
    &.icon-ok {
        background-image: url("../img/icon-ok.svg");
    }
    &.icon-cross {
        background-image: url("../img/icon-cross.svg");
    }
    &.icon-remove {
        background-image: url("../img/icon-remove.svg");
    }
}
.ajax-status {
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-family: "OrionSans", sans-serif;
    font-size: 14px;
    color: $daksa-cement;
    background: rgba(#ffffff, .92);
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(#000000, .16);
    z-index: 1000;
    img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
}

#page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: $side-bar-width-desktop; // previously 268px
    background: #f9f9f9;
    transition: all .25s ease-out;
    // box-shadow: 0 1px 0 rgba(#000000, .04);
    z-index: 2;
    &.collapsed-sidebar {
        padding-left: 68px;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
}
#page-breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 24px 0 12px;
    ul, li {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        list-style: none;
        font-family: "OrionSans", sans-serif;
        font-size: 11px;
        color: $daksa-cement;
        line-height: 100%;
        text-transform: uppercase;
        &.active {
            display: block;
            font-family: "OrionSans", sans-serif;
            font-size: 20px;
            text-transform: none;
        }
    }
}
#user-links {
    margin: 0;
    padding: 24px 0 12px;
    ul, li {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
    a {
        font-size: 13px;
        color: $daksa-cement;
        display: block;
    }
    & > li {
        position: relative;
        &:hover {
            & > a, & > ul {
                background: #ffffff;
                box-shadow: 0 1px 1px rgba(#000000, .08);
            }
            & > a {
                border-radius: 4px 4px 0 0;
            }
            & > ul {
                display: block;
                border-radius: 0 0 4px 4px;
            }
        }
        & > a {
            padding: 12px 36px 12px 16px;
            transition: none;
            &:after {
                position: absolute;
                right: 12px;
                width: 12px;
                height: 12px;
                content: "";
                margin-top: -2px;
                background: url("../img/icon-arrow.svg") no-repeat;
                background-size: 100%;
                background-position: center;
            }
            span {
                font-family: "OrionSans", sans-serif;
            }
            & + ul {
                position: absolute;
                display: none;
                width: 100%;
                a {
                    padding: 10px 16px;
                    width: 100%;
                    border-radius: 2px;
                    &:hover, &:focus {
                        background: $adiwisista-green;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

#main-section {
    position: relative;
    padding: 84px 0 96px $side-bar-width-desktop;
    transition: all .25s ease-out;
    * {
        // color: $daksa-cement;
    }
}
#main-section.collapsed-sidebar {
    padding-left: 92px;
}

#side-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    // box-shadow: inset -1px 0 0 rgba(#000000, .04);
    min-width: 268px;
    width: $side-bar-width-desktop;
    overflow: visible;
    transition: all .25s ease-out;
    padding: 8px 12px;
    z-index: 3;
    * {
        color: $daksa-cement;
    }
    ul, li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
}
#side-bar-content {
    background: #ffffff;
    border-radius: 6px;
    overflow-y: auto;
    box-shadow: 0 0 24px rgba(#000000, .08);
    header {
        position: fixed;
        width: 18.2089%;
        text-align: center;
        margin: 0 auto;
        padding: 24px 24px 28px;
        background: #ffffff;
        border-radius: 6px;
        z-index: 1;
        a {
            display: block;
            color: $daksa-cement;
            padding-top: 0;
            &:hover, &:focus {
                background-color: transparent;
                color: $daksa-cement;
            }
        }
        img, h4 {
            display: inline-block;
            vertical-align: top;
        }
        img {
            width: 148px;
        }
    }
}

#app-menu {
    margin-bottom: 36px;
    padding-top: 108px;
    a {
        display: block;
        width: 100%;
        font-family: "OrionSans", sans-serif;
        font-size: 14px;
    }
    .accordion {
        & > li {
            margin-bottom: 1px;
            &:hover, &:focus {
                & > a {
                    background: #f9f9f9;
                }
            }
            & > a {
                position: relative;
                background: rgba(#f9f9f9, 0);
                padding: 10px 24px 8px $side-bar-menu-left-padding;
                font-family: "OrionSans", sans-serif;
                font-size: 14px;
                color: $daksa-cement;
                text-transform: uppercase;
                &:hover, &:focus, &.active {
                    background: #f9f9f9;
                }
                &:before {
                    position: absolute;
                    content: "";
                    left: 16px;
                    width: 16px;
                    height: 16px;
                    margin-top: -2px;
                    background-position: center;
                    background-size: 100%;
                    transition: all .4s ease-out;
                }
            }
            li {
                a {
                    padding: 12px 24px 12px $side-bar-menu-left-padding;
                    & > span {
                        color: #3bc0c3;
                        font-size: 13px;
                    }
                }
            }
        }
        .accordion-content {
            color: #ffffff;
            padding-bottom: 12px;
            li {
                a, a:hover, a:focus, a.active {
                    background-size: 16px;
                    background-position: 20px center;
                    background-repeat: no-repeat;
                }
                & > a, & > a:hover, & > a:focus {
                    background-repeat: no-repeat;
                }
                & > a:hover, & > a:focus, & > a.active {
                }
                & > a {
                    &.active {
                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
            a {
                position: relative;
                font-size: 14px;
                &:hover, &:focus, &.active {
                    color: $adiwisista-green;
                    background: rgba(#ffffff, 1);
                    box-shadow: inset -4px 0 0 $adiwisista-green;
                }
            }
        }
    }

    .ui-menu {
        width: 100%;
        border: none;
        padding: 0;
        background: transparent;
    }
    .ui-menu-list {
        .ui-widget-header {
            width: 100%;
            background: transparent;
            border: none;
            &.ui-state-hover, &.active {
                background: #f9f9f9;
                box-shadow: none;
            }
        }
        h3 {
            display: block;
            width: 100%;
            position: relative;
            padding: 10px 24px 8px 44px;
            font-family: "PFHandbookPro-Bold", sans-serif;
            font-size: 14px;
            color: $daksa-cement;
            text-transform: uppercase;
            background: rgba(#f9f9f9, 0);
            .ui-icon {
                display: none;
            }
        }
    }
    .ui-menuitem {
        padding: 0;
    }
    .ui-menuitem-link {
        padding: 12px 24px 12px 42px;
        border-radius: 0;
        &.ui-state-hover, &.active {
            background: rgba(#ffffff, 1);
            box-shadow: inset -4px 0 0 $adiwisista-green;
            .ui-menuitem-text {
                color: $adiwisista-green;
            }
        }
    }

    .ui-accordion {
        .ui-accordion-header {
            background: transparent;
            margin-bottom: 8px;
            font-size: 9.5pt;
            .ui-icon {
                width: 16px;
                height: 16px;
                left: 16px;
            }
            &.ui-state-hover, &.ui-state-active {
                background: #f9f9f9;
            }
            &.ui-state-active {
                margin-bottom: 0;
            }
            &[aria-label="user-management"] {
                .ui-icon {
                    background: url(../img/side-menu-icon-user-management-not-selected.svg) no-repeat;
                    background-size: cover;
                }
                &.ui-state-active {
                    .ui-icon {
                        background: url(../img/side-menu-icon-user-management.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
            &[aria-label="role-management"] {
                .ui-icon {
                    background: url(../img/side-menu-icon-role-management-not-selected.svg) no-repeat;
                    background-size: cover;
                }
                &.ui-state-active {
                    .ui-icon {
                        background: url(../img/side-menu-icon-role-management.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
            &[aria-label="branch-management"] {
                .ui-icon {
                    background: url(../img/side-menu-icon-company-management-not-selected.svg) no-repeat;
                    background-size: cover;
                }
                &.ui-state-active {
                    .ui-icon {
                        background: url(../img/side-menu-icon-company-management.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
            &[aria-label="officer-management"] {
                .ui-icon {
                    background: url(../img/text-input-icon-group.svg) no-repeat;
                    background-size: cover;
                }
                &.ui-state-active {
                    .ui-icon {
                        background: url(../img/text-input-icon-group.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
            &[aria-label="shift-management"] {
                .ui-icon {
                    background: url(../img/side-menu-icon-report-management-not-selected.svg) no-repeat;
                    background-size: cover;
                }
                &.ui-state-active {
                    .ui-icon {
                        background: url(../img/side-menu-icon-report-management.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        .ui-accordion-content {
            padding: 0;
            margin-bottom: 12px;
            a {
                padding: 12px 24px 12px 44px;
                &:hover, &:focus, &.active {
                    background: transparent;
                    color: $daksa-green-grass;
                    box-shadow: inset -4px 0 0 $daksa-green-grass;
                }
            }
        }
    }
}
.user-management > h3, .role-management > h3, .officer-management > h3, .shift-management > h3,
.branch-management > h3, .payment-management > h3, .accounting-management > h3, .report-management > h3 {
    &:before {
        position: absolute;
        content: "";
        left: 16px;
        width: 16px;
        height: 16px;
        margin-top: -2px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: all .4s ease-out;
    }
}
#user-management {
    &:before {
        background-image: url("../img/side-menu-icon-user-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-user-management.svg");
        }
    }
}
#role-management {
    &:before {
        background-image: url("../img/side-menu-icon-role-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-role-management.svg");
        }
    }
}
#branch-management {
    &:before {
        background-image: url("../img/side-menu-icon-company-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-company-management.svg");
        }
    }
}
#officer-management {
    &:before {
        background-image: url("../img/text-input-icon-group.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/text-input-icon-group.svg");
        }
    }
}
#shift-management {
    &:before {
        background-image: url("../img/side-menu-icon-report-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-report-management.svg");
        }
    }
}
#payment-management {
    &:before {
        background-image: url("../img/side-menu-icon-payment-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-payment-management.svg");
        }
    }
}
#accounting-management {
    &:before {
        background-image: url("../img/side-menu-icon-accounting-management-not-selected.svg");
    }
    &.active {
        &:before {
            background-image: url("../img/side-menu-icon-accounting-management.svg");
        }
    }
}
.user-management {
    h3 {
        &:before {
            background-image: url("../img/side-menu-icon-user-management-not-selected.svg");
        }
    }
    &.active {
        h3 {
            &:before {
                background-image: url("../img/side-menu-icon-user-management.svg");
            }
        }
    }
}
.role-management {
    h3 {
        &:before {
            background-image: url("../img/side-menu-icon-role-management-not-selected.svg");
        }
    }
    &.active {
        h3 {
            &:before {
                background-image: url("../img/side-menu-icon-role-management.svg");
            }
        }
    }
}
.branch-management {
    h3 {
        &:before {
	    background-image: url("../img/side-menu-icon-company-management-not-selected.svg");
        }
    }
    &.active {
        h3 {
            &:before {
                background-image: url("../img/side-menu-icon-company-management.svg");
            }
        }
    }
}
.officer-management {
    h3 {
        &:before {
	    background-image: url("../img/text-input-icon-group.svg");
        }
    }
    &.active {
        h3 {
            &:before {
		background-image: url("../img/text-input-icon-group.svg");
            }
        }
    }
}
.shift-management {
    h3 {
        &:before {
            background-image: url("../img/side-menu-icon-report-management-not-selected.svg");
        }
    }
    &.active {
        h3 {
            &:before {
                background-image: url("../img/side-menu-icon-report-management.svg");
            }
        }
    }
}

#side-bar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: $side-bar-min-width-desktop;
    width: $side-bar-width-desktop;
    background-color: #f0f0f0;
    p {
        margin: 0;
        line-height: 100%;
        text-align: center;
        padding: 8px 24px;
    }
    small {
        font-family: "OrionSans", sans-serif;
        font-size: 11px;
    }
}

#select-menu-helper {
    display: none;
    max-width: 160px;
    padding: 8px;
    font-size: 13px;
}



/* TABLET VIEWPORT */
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    #side-bar {
        width: 100%;
        height: 60px;
        background: #ffffff;
        box-shadow: 0 0 24px rgba(#000000, .08);
        ul {
        }
    }
    #side-bar-content {
        background: transparent;
        box-shadow: none;
        overflow: visible;
        & > * {
            display: inline-block;
            width: auto;
            vertical-align: top;
            margin: 0;
        }
        header {
            width: auto;
            margin: 0;
            padding: 4px;
            background: transparent;
            img {
                width: 120px;
            }
            h4 {
                display: none;
            }
        }
    }
    #select-menu-helper-wrapper {
        // position: relative;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
    }
    #select-menu-helper {
        display: inline-block;
    }
    #app-menu {
        display: none;
    }
    #user-links {
        padding: 0;
    }
    #app-menu {
        position: fixed;
        right: 0;
        padding-top: 0;
        .accordion {
            & > li {
                float: left;
                // width: 132px;
                margin-left: 1px;
                & > a {
                    background: transparent;
                    font-size: 14px;
                    padding: 16px 24px 16px 36px;
                    text-align: center;
                    &:before {
                        left: 12px;
                    }
                }
            }
            .accordion-content {
                display: none;
                background: $daksa-white;
                padding-bottom: 4px;
                box-shadow: 0 0 24px rgba(#000000, .08);
                a {
                    background-image: none !important;
                    padding-left: 24px;
                    &:hover, &:focus, &.active {
                        background-color: rgba(#ffffff, .24);
                    }
                }
            }
        }
    }
    #side-bar-footer {
        display: none;
    }
    #page-header {
        top: 60px;
        padding-left: 0;
        background-color: #f0f0f0;
    }
    #page-breadcrumb {
        padding: 10px 24px 4px;
        li, li.active {
            display: inline-block;
            text-transform: none;
            font-family: "OrionSans", sans-serif;
            font-size: 13px;
            margin-right: 24px;
        }
        li {
            &:first-child {
                position: relative;
                &:after {
                    position: absolute;
                    content: "//";
                    right: -16px;
                }
            }
        }
    }
    #main-section {
        padding: 120px 24px 72px;
    }
}



/* SMARTPHONE VIEWPORT */
@media screen and (max-width: 480px) {
    body {
        min-width: 320px;
    }
    form {
        &.stacked-form {
            &.half-width, &.three-quarters-width {
                width: 100%;
                margin: auto auto 24px;
            }
            .form-group {
                width: 100%;
            }
        }
    }
    #side-bar-content {
        display: flex;
        justify-content: space-between;
        header {
            position: relative;
            h4 {
                display: none;
            }
        }
    }
    /*  #app-menu {
        display: none;
      }*/
    #page-header {
        text-align: center;
        .container {
            display: block;
        }
    }
    /*  #select-menu-helper-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      #select-menu-helper {
        display: inline-block;
      }*/
    #page-breadcrumb {
        display: block;
        width: 100%;
        li {
            &:last-child {
                margin-right: 0;
            }
        }
    }
    #user-links {
        & > li {
            & > a {
                padding-right: 16px;
            }
        }
    }
    #main-section {
        padding-top: 160px;
    }
}

/*.interest-type {
    tbody tr {
        td {
            display: flex;
        }
    }
}*/
