/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222; 
    font-size: 1em;
    line-height: 1.4; 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Promptcd
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "_supports/colors";
@import "_supports/typefaces";

::-moz-selection {
    background: darken($daksa-cyan, 4);
    color: #ffffff;
}
::selection {
    background: darken($daksa-cyan, 4);
    color: #ffffff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: rgba($daksa-cement, .48);
}
::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    color: rgba($daksa-cement, .48);
}
:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    color: rgba($daksa-cement, .48);
}
:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: rgba($daksa-cement, .48);
}

/* RESETTER */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 100%;
    &:focus {
        outline: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal !important;
}

/* COMMON TAGS */
html {
    counter-reset: fig-caption-counter;
}
body {
    font-family: "OrionSans", sans-serif;
    counter-reset: table-caption-counter;
}
h1, h2, h3, h4 {
    font-family: "PFHandbookPro-Bold", sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 90%;
    margin-bottom: 16px;
}
h2 {
    font-size: 2.25rem;
    letter-spacing: -1px;
    line-height: 95%;
    margin-bottom: 16px;
}
h3 {
    font-size: 1.75rem;
    line-height: 100%;
    margin-bottom: 12px;
}
h4 {
    font-size: 1.125rem;
    margin-bottom: 12px;
}
br {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
p, li {
    font-size: 16px;
    line-height: 180%;
}
p {
    font-family: "OrionSans", sans-serif;
    margin-bottom: 24px;    
    a {
        border-bottom: 1px dashed $daksa-green-grass;
        font-size: 13px;
        color: $daksa-cement;
    }
}
li {
    margin-bottom: 12px;
    padding-left: 12px;
}
ol, ul {
    padding-left: 16px;
    margin-bottom: 24px;
}
a {
    color: darken($daksa-green-grass, 4);
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    padding-top: 4px;
    transition: all .2s ease-out;
    &:hover, &:focus {
        color: #ffffff;
        background: $daksa-green-grass;
    }
}
.link-image {
	color: darken($daksa-green-grass, 4) !important;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    padding-top: 4px;
    transition: all .2s ease-out;
	&:hover, &:focus {
		color: #ffffff !important;
		background: $daksa-green-grass;
	}
}
span {
    font-family: inherit;
    font-size: inherit;
    transition: all .2s ease-out;
}
blockquote {
    font-family: "RobotoSlab-Light", serif;
    margin-bottom: 24px;
    padding: 12px 0 20px 16px;
    border-left: 3px solid $daksa-light-grey;
    * {
        font-family: inherit;
        line-height: 160%;
    }
    p {
        position: relative;
        font-size: 18px;
        margin-bottom: 8px;
        &:before {
            content: '" ';
        }
        &:after {
            content: ' "';
        }
    }
    cite, footer {
        display: block;
        font-weight: 600;
        font-size: 12px;
        font-style: normal;
    }
}
label {
    margin-right: 16px;
}
figure {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 24px 0 48px;
    &.auto {
        img {
            width: auto;
            max-width: 100%;
        }
    }
    img {
        width: 100%;
        border: 4px solid rgba($daksa-light-grey, .24);
    }
}
figcaption, caption {
    font-family: "OrionSans", sans-serif;
    font-size: 14px;
    color: rgba($daksa-cement, .64);
    margin-top: 12px;
    margin-bottom: 12px;
}
figcaption {
    counter-increment: fig-caption-counter;
    line-height: 148%;
    &:before {
        content: "Fig. " counter(fig-caption-counter) " - ";
    }
}
caption {
    counter-increment: table-caption-counter;
    &:before {
        content: "Table " counter(table-caption-counter) " - ";
    }
}
pre, code {
    font-family: "Monaco", monospace;
}
code {
    font-size: 12px;
    line-height: 160%;
    padding: 4px 8px;
    border: 1px solid rgba($daksa-light-grey, 1);
    border-radius: 3px;
}
pre {
    font-size: 11px;
    background: rgba($daksa-light-grey, .12);
    border: 1px solid rgba($daksa-light-grey, .24);
    color: $daksa-cement;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 360px;
    overflow: auto;
    padding: 12px 16px;
    line-height: 200%;
    border-radius: 3px;
    margin: 12px 0 24px;
}
table {
    width: 100%;
    margin-bottom: 48px;
    transition: all .2s ease-out;
    &.has-actions {
        td {
            &:last-child {
                text-align: center;
            }
        }
    }
    caption {

    }
    thead {
        &.sub-header {
            th {
                font-size: 14px;
                background: rgba($daksa-light-grey, .24);
            }
        }
    }
    tbody {
        tr {
            &:hover {
                background-color: rgba($daksa-blue-sky, .04);
            }
        }
    }
    tr {
        transition: all .2s ease-out;
        th {
            background: rgba($daksa-light-grey, .48);
        }
        &:nth-child(2n) {
            background-color: rgba($daksa-blue-sky, .02);
        }
    }
    th, td {
        &[colspan], &[rowspan] {
            text-align: center;
        }
    }
    th {
        text-align: left;
        padding: 16px 8px 12px;
    }
    td {
        font-size: 14px;
        padding: 16px 8px 12px;
    }
    .td-additional-info {
        display: block;
        font-size: 72%;
        margin: 4px 0;
        color: rgba($daksa-cement, .8);
    }
}

form {
    margin: 24px 0;
    /** {
            vertical-align: top;
    }*/
    &.stacked-form {
        display: block;
        width: 100%;
        &.label-camouflage {
          label:first-child {
            display: block;
          }
          label:last-child {
            font-family: "OrionSans", sans-serif;
            display: block;
            width: 100%;
            padding: 6px;
            min-height: 24px;
            margin: 0;
            box-shadow: 0 1px 0 rgba($daksa-cement, .24);
          }
        }
        label, input, textarea, button, select {
            display: block;
            width: 100%;
        }
        label {
          text-align: left;
        }
        input[type="checkbox"], input[type="radio"] {
            display: inline-block;
            width: auto;
        }
    }
    &.inline-form {
        .inline-form-wrapper {
            display: inline-block;
            vertical-align: top;
            & > * {
                display: block;
            }
            &.submitter {
                padding-top: 24px;
            }
            label {
                margin-bottom: 8px;
            }
        }
    }
    .checkbox-radiobutton {
        font-size: 13px;
        width: auto;
    }
}
input, textarea, button, input[type="submit"], input[type="checkbox"], select {
    font-family: "OrionSans", sans-serif;
    font-size: 14px;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 12px;
    font-size: 14px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid rgba($daksa-cement, .24);
    transition: all .2s ease-out;
    &:focus {
        outline: none;
    }
}
input, textarea {
    &:hover, &:focus {
        border-color: rgba($daksa-cyan, 1);
        outline: none;
    }
}
textarea {
    resize: none;
    min-height: 160px;
    line-height: 148%;
}
select {
    height: 35px;
}
button, input[type="submit"] {
    font-family: "OrionSans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: $daksa-green-grass;
    color: #ffffff;
    border: none;
    padding: 10px 36px;
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 rgba(#000000, .16);
    transition: all .2s ease-out;
    &:hover, &:focus {
        background-color: darken($daksa-green-grass, 8);
    }
}
select {
}
input[type="checkbox"], input[type="radio"] {
    width: auto !important;
    margin-right: 8px;
}
svg, svg * {
    transition: all .2s ease-out;
}



/* =============================================
CUSTOM CLASSES
============================================= */

/* LABEL */
.label {
    position: relative;
    top: -2px;
    font-family: "OrionSans", sans-serif;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 2px;
    color: #ffffff;
    background-color: $daksa-cyan;
    line-height: 100%;
    text-transform: none;
    margin-top: -8px;
    margin-right: 8px;
    display: inline-block;
    &.warning {
        background-color: $daksa-sunset;
    }
}

/* NOTE */
.note {
    padding: 12px 24px;
    border: 1px dashed $daksa-sunset;
    border-radius: 6px;
    h4 {
        color: $daksa-sunset;
    }
    &.info {
        border-color: $daksa-green-grass;
        h4 {
            color: $daksa-green-grass;
        }
    }
}
@media screen and (min-width: 768px) {
    .note {
        padding: 24px 48px;
        margin-bottom: 48px;
    }
}

/* PANEL */
.panel {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(#000000, .24);
    margin-bottom: 24px;
    header, article {
        padding: 16px 20px;
    }
    header {
        background-color: rgba($daksa-light-grey, .24);
        border-radius: 4px 4px 0 0;
        * {
            margin: 0;
        }
        h4 {
            margin-bottom: 8px;
        }
        code {
            display: block;
            width: 100%;
        }
    }
    article {
    }
}


/* ====================
MEDIA QUERIES - TABLET
==================== */
@media screen and (min-width: 768px) {
    p, li {
        font-size: 16px;
        line-height: 200%;
    }
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 3.25rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    table {
        td {
            font-size: 16px;
        }
    }
    .panel {
        width: 100%;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(#000000, .24);
        margin-bottom: 48px;
        header, article {
            padding: 16px 32px;
        }
        header {
            code {
                display: inline-block;
                width: auto;
            }
        }
    }
}



/* ====================
MEDIA QUERIES - STANDARD SCREEN DESKTOP
==================== */
@media screen and (min-width: 1024px) {
    h1, h2, h3, h4 {
        font-family: "PFHandbookPro-ExtraThin", sans-serif;
        text-transform: uppercase;
    }
    h1 {
        font-size: 6rem;
        letter-spacing: -1px;
        line-height: 90%;
        margin-top: 48px;
        margin-bottom: 72px;
    }
    h2 {
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 95%;
        margin-bottom: 32px;
        margin-bottom: 48px;
    }
    h3 {
        font-size: 3.25rem;
        line-height: 100%;
        margin-top: 16px;
        margin-bottom: 28px;
    }
    h4 {
        font-family: "PFHandbookPro-Regular", sans-serif;
        font-size: 2rem;
        margin-top: 16px;
        margin-bottom: 28px;
    }
    p, li {
    }
    figure {
        img {
            width: 480px;
            border: none;
        }
    }
    input, textarea, button, input[type="submit"], select {
        width: auto;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                                                                                                                                http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
