@import "_supports/colors";

html, body, section {
  height: 100%;
}
body {
  position: relative;
  background: #f9f9f9;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/sign-in-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .08;
  }
  &#company {
    background: url("../img/company-sign-in-bg.jpg") no-repeat;
  }
}
section {
  position: relative;
}
p, label, h1, h2, h3, h4, h5, h6 {
  color: $daksa-cement;
}
p, label {
  font-size: 14px;
}
button {
  background: $adiwisista-green;
  color: #ffffff;
  font-size: 13px;
  line-height: 100%;
  padding: 12px 36px;
  min-width: 200px;
  &:hover, &:focus {
    background: darken($adiwisista-green, 4);
  }
}
input, textarea, input[type="checkbox"], select {
  margin-bottom: 0;
  color: $daksa-cement;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: 0 1px 0 rgba($adiwisista-green, .24);
  &:hover, &:focus {
    box-shadow: 0 1px 0 rgba($adiwisista-green, 1);
  }
}

form {
  &.stacked-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-group {
      display: inline-block;
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
.form-group {
  &.captcha {
    & > div {
      margin-bottom: 12px;
      & > div {
        margin: auto;
      }
    }
  }
}
#comodo-secure {
  position: fixed;
  bottom: 36px;
  right: 36px;
  a {
    color: $daksa-cement;
    &:hover, &:focus {
      background-color: transparent;
      color: $daksa-cement;
    }
  }
}


/* SMARTPHONE VIEWPORT */
@media screen and (max-width: 480px) {
  form {
    &.stacked-form {
      .form-group {
        width: 100%;
        &.captcha {
          & > div {
            & > div {
              transform: scale(0.92);
              transform-origin: 0 0;
            }
          }
        }
      }
    }
  }
  #form-wrapper {
    figure {
      width: 120px;
      margin: 12px 0;
    }
  }
}
.form-group {
  background: rgba(#ffffff, .48);
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 0 rgba(#ffffff, 1);
  margin-bottom: 8px;
  &.has-child {
    & > input {
      display: inline-block;
      width: 60%;
    }
  }
  
  label {
    font-size: 13px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  input {
    padding-left: 32px;
  }
  .form-group-child {
    display: inline-block;
    width: 38%;
    padding-left: 16px;
    label, input {
      display: inline-block;
    }
    label {
      width: 30%;
      margin-right: 0;
    }
    input {
      width: 66%;
    }
  }
}
.input-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  background-size: 100%;
  background-repeat: no-repeat;
  &.icon-username { background-image: url("../img/text-input-icon-user.svg"); }
  &.icon-password { background-image: url("../img/text-input-icon-password.svg"); }
  &.icon-group { background-image: url("../img/text-input-icon-group.svg"); }  
}
.ajax-status {
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-family: "OrionSans", sans-serif;
  font-size: 14px;
  color: $daksa-cement;
  background: rgba(#ffffff, .92);
  padding: 6px 12px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(#000000, .16);
  z-index: 1000;
  img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}
#company {
  section {
    &:before {
      background-image: url("../img/company-sign-in-polygon.png");
      left: auto;
      right: 0;
    }
  }
  .panel {
    right: auto;
    left: calc(100% / 12);
  }
  aside {
    left: auto;
    right: calc(100% / 12);
  }
}


#form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35%;
  max-width: 360px;
  figure {
    width: 160px;
    margin: 0 auto 12px;
    img {
      width: 100%;
      border: none;
    }
  }
  h2 {
    font-family: "PFHandbookPro-Bold", sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 12px;
  }
  p {
    text-align: center;
    margin-bottom: 12px;
    line-height: 140%;
    a, .ui-link {
      font-size: 80%;
    }
  }
}

.icon-on-form {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  &.icon-edit {
    background-image: url("../img/icon-edit.svg");
  }
  &.icon-ok {
    background-image: url("../img/icon-ok.svg");
  }
  &.icon-cross {
    background-image: url("../img/icon-cross.svg");
  }
  &.icon-remove {
    background-image: url("../img/icon-remove.svg");
  }
  &.icon-captcha {
    background-image: url("../img/captcha-refresh.svg");
  }
}

.center-div {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 12px;
}


/* SMARTPHONE VIEWPORT */
@media screen and (max-width: 480px) {
  form {
    &.stacked-form {
      label {
        display: none;
      }
    }
  }
  #form-wrapper {
    width: 100%;
    padding: 0 24px;
    figure {
      width: 120px;
    }
    p {
      margin-bottom: 0;
    }
  }
}