/* =============================================
DAKSA DESIGN REPO - SUPPORTS - COLORS
============================================= */

/* PRIMARY COLORS */
$daksa-briquette: #343839;
$daksa-soil: #3d3935;
$daksa-dark-slate: #3a4257;
$daksa-darker-slate: #2a303f;
$daksa-blue-sky: #008ae0;
$daksa-cyan: #00c2c5;

/* SECONDARY COLORS */
$daksa-green-grass: #91ca77;
$daksa-sunset: #feb033;
$daksa-orange: #f15b00;
$daksa-pink: #fe57a1;
$daksa-redish-pink: #e83665;
$daksa-cement: #758a9a;
$daksa-concrete: #c7cdd1;
$daksa-river-stone: #9aa8c4;
$daksa-light-grey: #d2dde7;
$daksa-purple: #7960a9;


/* NEUTRAL COLORS */
$daksa-white: #f9f9f9;
$daksa-black: #202020;


/* ADIWISISTA COLORS */
$adiwisista-green: #A2CD3A;
$adiwisista-dark-green: #597B06;
$adiwisista-blue: #29ABE2;
$adiwisista-grey: #C0C0C0;
$adiwisista-light-cement: #9EADB8;

/* DASHBOARD COLORS */
$dashboard-green: #A2CD3A;
$dashboard-dark-green: #597B06;
$dashboard-blue: #29ABE2;
$dashboard-grey: #C0C0C0;
$dashboard-light-cement: #9EADB8;



