<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="title">
		Welcome
    </ui:define>
    <ui:define name="content">
		Welcome to #{app.name}
    </ui:define>
</ui:composition>
