<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"                
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/layout-main.xhtml">
    <f:metadata>        
    </f:metadata>
    <ui:define name="title">
        Add Role
    </ui:define>

    <ui:define name="header">Role Management</ui:define>
    <ui:define name="header-content">Register Role</ui:define>
    <ui:define name="user">Username</ui:define>

    <ui:define name="content">
        <h:form class="stacked-form three-quarters-width" id="main-form">
            <p>Please type in the role name and choose the permissions to create a role.</p>
            <div class="form-group">
                <p:outputLabel  for="roleName" value="Nama Role"/>
                <p:inputText id="roleName" value="#{roleController.roleName}" maxlength="64" required="true" requiredMessage="Nama Role tidak boleh kosong"/>
                <p:message for="roleName" />  
            </div>
            <div class="form-group">
                <p:outputLabel  for="userPermissionsTable" value="Permissions"/>
                <p:dataTable id="userPermissionsTable" widgetVar="userPermissionsTable" var="permissions" lazy="true"
                             value="#{userPermissionTable}"
                             rows="10"                             
                             selection="#{roleController.rolePermissions}"
                             paginator="true" 
                             rowsPerPageTemplate="5,10,25,50,100"
                             rowSelectMode="checkbox"
                             rowKey="#{permissions.id}"
                             rowIndexVar="rowIndex"
                             paginatorPosition="#{web.tablePaginatorPosition}"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             styleClass="has-toggler has-action-on-last-column"
                             reflow="true">
                    <p:column>
                        <p:rowToggler/>
                    </p:column>
                    <p:column headerText="No">
                        <h:outputText value="#{rowIndex+1}" />
                    </p:column>                    
                    <p:column headerText="ID" filterBy="#{permissions.id}">
                        <h:outputText value="#{permissions.id}"/>
                    </p:column>
                    <p:column headerText="Nama " filterBy="#{permissions.name}">
                        <h:outputText value="#{permissions.name}"/>
                    </p:column>                    
                    <p:column selectionMode="multiple"/>
                    <p:rowExpansion>
                      <div class="stacked-form half-width">
                        <div class="form-group">
                          <h:outputLabel value="URI Pattern" />
                          <h:inputText value="#{permissions.uriPattern}" disabled="true"/>
                        </div>
                        <div class="form-group">
                          <h:outputLabel value="Matching Strategy" />
                          <h:inputText value="#{permissions.matchingStrategy}" disabled="true"/>
                        </div>
                        <div class="form-group">
                          <h:outputLabel value="Menu" />
                          <h:inputText value="#{permissions.menu}" disabled="true"/>
                        </div>
                      </div>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
            <hr class="invisible-form-group-separator"/>
            <p:commandButton value="Tambah Role"
                             oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"
                             update=":confirmForm :confirmForm:permissions @form"/>
        </h:form>


        <script>
            $(document).ready(function () {
              var toBeHidden = "[aria-label='user-management']";
              var toBeShown = "[aria-label='role-management']";
              
                $(toBeHidden).attr({
                  'aria-expanded': 'false',
                  'aria-selected': 'false'
                }).removeClass("ui-state-active");
                
                $(toBeHidden + "+ .ui-accordion-content").attr({
                  'aria-hidden': 'true'
                }).addClass("ui-helper-hidden");
                
                $(toBeShown).attr({
                  'aria-expanded': 'true',
                  'aria-selected': 'true'
                }).addClass("ui-state-active");
                
                $(toBeShown + "+ .ui-accordion-content").attr({
                  'aria-hidden': 'false'
                }).removeClass("ui-helper-hidden");
                
                $(".role-management-add-role").addClass("active");
            });
        </script>
    </ui:define>

    <ui:define name="dialog">
        <p:dialog widgetVar="confirmDialog" header="Konfirmasi" closeOnEscape="true" modal="true"
                  position="center" resizable="false" draggable="true">
            <h:form id="confirmForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group">
                        <p:outputLabel for="username" value="Nama Role" />
                        <h:inputText id="username" value="#{roleController.roleName}" disabled="true"/>
                    </div>
                    <div class="form-group form-group-table">
                        <p:outputLabel for="permissions" value="Permissions" />
                        <p:dataTable var="permissions" id="permissions"
                                     value="#{roleController.rolePermissions}"
                                     rows="10"                                 
                                     paginator="true" 
                                     rowsPerPageTemplate="5,10,25,50,100"                                 
                                     rowIndexVar="rowIndex"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     styleClass="has-toggler"
                                     reflow="true">
                            <p:column headerText="No">
                                <h:outputText value="#{rowIndex+1}" />
                            </p:column>
                            <p:rowToggler/>
                            <p:column headerText="ID" filterBy="#{permissions.id}">
                                <h:outputText value="#{permissions.id}"/>
                            </p:column>
                            <p:column headerText="Nama" filterBy="#{permissions.name}">
                                <h:outputText value="#{permissions.name}"/>
                            </p:column>
                            <p:column headerText="Host" filterBy="#{permissions.host.name}">
                                <h:outputText value="#{permissions.host.name}"/>
                            </p:column> 
                            <p:rowExpansion>
                              <div class="form-group">
                                <h:outputLabel value="URI Pattern" />
                                <h:inputText value="#{permissions.uriPattern}" disabled="true"/>
                              </div>
                              <div class="form-group">
                                <h:outputLabel value="Matching Strategy" />
                                <h:inputText value="#{permissions.matchingStrategy}" disabled="true"/>
                              </div>
                              <div class="form-group">
                                <h:outputLabel value="Menu" />
                                <h:inputText value="#{permissions.menu}" disabled="true"/>
                              </div>
                            </p:rowExpansion>
                        </p:dataTable>
                    </div>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="Register" icon="fa fa-check"
                                     update=":globalMessages @form" 
                                     action="#{roleController.createRole()}"
                                     onsuccess="PF('confirmDialog').hide()">
                        <p:confirm header="Tambah Role"
                                   message="Apakah anda yakin?" icon="fa fa-warning"/> 
                    </p:commandButton>
                    <p:commandButton value="Batal" icon="fa fa-close" styleClass="alt"
                                     action="#{roleController.resetCreateRole()}"
                                     update="@form"
                                     onclick="PF('confirmDialog').hide();"/>                    
                </div>
            </h:form>
        </p:dialog>
    </ui:define>   
</ui:composition>