<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{userController.init()}"/>
        </f:metadata>
    </ui:define>
    
    <ui:define name="title">
        Add User
    </ui:define>
  
    <ui:define name="header">Manajemen User</ui:define>
    <ui:define name="header-content">Registrasi User</ui:define>

    <ui:define name="content">
        <h:form id="add-user-form" styleClass="stacked-form half-width">
            <p>Mohon isi seluruh data untuk registrasi user baru.</p>
            <div class="form-group">
                <p:outputLabel for="fullname" value="Nama Lengkap" />
                <p:inputText id="fullname" maxlength="64" value="#{userController.fullName}" type="text" required="true" requiredMessage="Nama lengkap tidak boleh kosong"/>
                <p:message for="fullname" />
            </div>
            <div class="form-group">
                <p:outputLabel for="username" value="Username" />
                <p:inputText id="username" maxlength="64" value="#{userController.username}" type="text" required="true" requiredMessage="Username tidak boleh kosong" />
                <p:message for="username" />
            </div>
            <div class="form-group">
                <p:outputLabel for="email" value="Email" />
                <p:inputText id="email" maxlength="64" value="#{userController.email}" type="email" required="true" requiredMessage="Email tidak boleh kosong" />                                                           
                <p:message for="email" />
            </div>
            <div class="form-group">
                <h:outputLabel value="Roles *" for="roles" />
                <p:selectManyCheckbox id="roles" value="#{userController.roleIds}" layout="responsive" columns="2"
                                      required="true" requiredMessage="Pilih minimal satu role">
                    <f:selectItems value="#{userController.roles}" var="role" itemValue="#{role.id}" itemLabel="#{role.name}" />
                </p:selectManyCheckbox>
                <p:message for="roles" />
            </div>
            <hr class="invisible-form-group-separator"/>
            <p:commandButton value="Registrasi User" 
                             oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"
                             update="add-user-form confirmForm"/>
        </h:form>

        <script>
            $(document).ready(function () {
                $(".user-management").addClass("active");
                $(".user-management-add-user").addClass("active");
            });
        </script>

    </ui:define>

    <ui:define name="dialog">
        <!-- CONFIRMATION DIALOG -->
        <p:dialog widgetVar="confirmDialog" header="Confirmation" closeOnEscape="true"
                  modal="true" position="center" resizable="false" draggable="true">
            <h:form id="confirmForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Nama Lengkap" />
                        <h:outputLabel value="#{userController.fullName}"/>                            
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Email" />
                        <h:outputLabel value="#{userController.email}" />      
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Username" />
                        <h:outputLabel value="#{userController.username}"/>
                    </div>
                    <div class="form-group form-group-table">
                        <p:outputLabel value="Roles" />
                        <p:dataTable var="role" 
                                     value="#{userController.roles}"
                                     rows="10"
                                     paginator="true" 
                                     rowIndexVar="rowIndex"
                                     rowsPerPageTemplate="5,10,25,50,100"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     styleClass="has-toggler"
                                     reflow="true">
                            <p:column headerText="No">
                                <h:outputText value="#{rowIndex+1}" />
                            </p:column>
                            <p:column headerText="Nama Role" filterBy="#{role.name}">
                                <h:outputText value="#{role.name}"/>
                            </p:column>                        
                        </p:dataTable>
                    </div>
                </div>                
                <div class="dialog-footer">
                    <p:commandButton value="Daftar"
                                     update=" :confirmForm :add-user-form :globalMessages" 
                                     action="#{userController.registerUser()}"
                                     onsuccess="PF('confirmDialog').hide()">
                        <p:confirm header="Register User"
                                   message="Apakah anda yakin?"/>
                    </p:commandButton>
                    <p:commandButton value="Reset"
                                     action="#{userController.resetRegisterUser()}"
                                     update=" :confirmForm :add-user-form :globalMessages"
                                     onclick="PF('confirmDialog').hide();" styleClass="alt"/>
                </div>
            </h:form>                       
        </p:dialog>
        <!-- END OF CONFIRMATION DIALOG -->

    </ui:define>

</ui:composition>
