<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:p="http://primefaces.org/ui"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
        Audit Trail
    </ui:define>
    <ui:define name="header">Manajemen User</ui:define>
    <ui:define name="header-content">Log Aktifitas User</ui:define>
    <ui:define name="content">
        <h:form id="main" styleClass="stacked-form">
            <div class="form-group">
                <p:outputLabel value="Tanggal Mulai"/>
                <p:calendar id="startDate" value="#{auditTrailController.startDate}"
                            locale="#{web.locale}"
                            mask="true"
                            navigator="true" 
                            pattern="#{web.dateInputFormat}"
                            label="Start Date"/>     
            </div>   
            <div class="form-group">
                <p:outputLabel value="Tanggal Akhir"/>
                <p:calendar id="endDate" value="#{auditTrailController.endDate}"
                            locale="#{web.locale}"
                            mask="true"
                            navigator="true" 
                            pattern="#{web.dateInputFormat}"
                            label="End Date"/>       
            </div>
            <div class="form-group">
                <p:outputLabel value="Name"/>
                <p:inputText value="#{auditTrailController.name}"/>
            </div>
            <hr class="invisible-form-group-separator"/>
            <p:commandButton value="Cari" 
                             update=":globalMessages logTable"                                                          
                             actionListener="#{auditTrailController.search()}"/> 
            <div class="form-group form-group-table">
                <p:dataTable id="logTable"
                             value="#{auditTrailController.userActivityTable}" lazy="true" var="log" rows="20"
                             paginator="true" paginatorPosition="#{web.tablePaginatorPosition}" styleClass="has-action-on-last-column"
                             reflow="true">                   
                    <p:column headerText="Full Name" sortBy="#{log.userFullName}">
                        <h:outputText value="#{log.userFullName}" />
                    </p:column>
                    <p:column headerText="Actvity Type" >
                        <h:outputText value="#{log.activityType.label}" />
                    </p:column>
                    <p:column headerText="Reference Name">
                        <h:outputText value="#{log.referenceName}" />
                    </p:column>
                    <p:column headerText="Reference Value">
                        <h:outputText value="#{log.referenceValue}" />
                    </p:column>
                    <p:column headerText="Actvity Time"  sortBy="#{log.activityTimestamp}" style="max-width: 100px">
                        <h:outputText value="#{log.activityTimestamp}" styleClass="align-center">
                            <f:convertDateTime pattern="#{web.timestampOutputFormat}" locale="#{web.locale}"/>                            
                        </h:outputText>
                    </p:column>                                         
                </p:dataTable>	
            </div>                                    					
		</h:form>
        
        <p:dialog widgetVar="detailDialog"
                  resizable="false"
                  modal="true"
                  header="Detail"
                  responsive="true">
            <h:form id="detailForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group form-group-table">
                        <p:dataTable id="detailTable" var="changeLog" 
                                     value="#{auditTrailController.changeLogTable}"
                                     rows="10"
                                     lazy="true"                             
                                     paginator="true"   
                                     rowIndexVar="key"
                                     rowsPerPageTemplate="#{web.tableRowPerPageTemplate}"                             
                                     paginatorTemplate="#{web.tablePaginatorTemplate}"
                                     reflow="true">                               
                            <p:column headerText="Label" styleClass="align-center">
                                <h:outputText value="#{changeLog.label}"/>                                   
                            </p:column>
                            <p:column headerText="Old Value">
                                <p:inputTextarea value="#{auditTrailController.writePrettyJson(changeLog.oldValue)}" rows="10" autoResize="false" readonly="true"/>                                                                
                            </p:column>
                            <p:column headerText="New Value">
                                <p:inputTextarea value="#{auditTrailController.writePrettyJson(changeLog.newValue)}" rows="10" autoResize="false" readonly="true"/>
                            </p:column>
                            <p:column headerText="Value Type" styleClass="align-center">
                                <h:outputText value="#{changeLog.valueType}" />
                            </p:column>     
                        </p:dataTable>
                    </div>                    
                </div>                                                
            </h:form>
        </p:dialog> 
        
        <script>
            $(document).ready(function () {
                $(".user-management").addClass("active");
                $(".user-management-audit-trail").addClass("active");
            });
        </script>
    </ui:define>
</ui:composition>
