<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"                
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/layout-main.xhtml">
    <f:metadata>        
    </f:metadata>    
    <ui:define name="header">Manajemen Role</ui:define>
    <ui:define name="header-content">Ubah Role</ui:define>

    <ui:define name="content">
        <h:form class="stacked-form" id="main-form">
            <p>These are list of available roles. Click the icon on the right side of the table to edit the role.</p>
            <p:dataTable id="userRoleTable" widgetVar="userRoleTable" var="role" lazy="true"
                         value="#{userRoleTable}"
                         rows="10"                                                          
                         paginator="true" 
                         rowsPerPageTemplate="5,10,25,50,100"                                                          
                         rowIndexVar="rowIndex"
                         paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         styleClass="has-toggler has-action-on-last-column"
                         reflow="true">
                <f:facet name="header">
                    User Role
                </f:facet>                            
                <p:column headerText="No">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="Nama Role" filterBy="#{role.name}" sortBy="#{role.name}">
                    <h:outputText value="#{role.name}"/>
                </p:column> 
                <p:column>
                    <p:commandLink title="Edit Role"
                                   oncomplete="PF('editUserRoleDialog').show()" 
                                   actionListener="#{roleController.setSelectedUserRole(role)}" 
                                   update=":main-form :editRoleForm">
                        <span class="icon-on-form icon-edit"></span>
                    </p:commandLink>
                </p:column>
            </p:dataTable>       
        </h:form>            

        <script>
            $(document).ready(function () {
              var toBeHidden = "[aria-label='user-management']";
              var toBeShown = "[aria-label='role-management']";
              
                $(toBeHidden).attr({
                  'aria-expanded': 'false',
                  'aria-selected': 'false'
                }).removeClass("ui-state-active");
                
                $(toBeHidden + "+ .ui-accordion-content").attr({
                  'aria-hidden': 'true'
                }).addClass("ui-helper-hidden");
                
                $(toBeShown).attr({
                  'aria-expanded': 'true',
                  'aria-selected': 'true'
                }).addClass("ui-state-active");
                
                $(toBeShown + "+ .ui-accordion-content").attr({
                  'aria-hidden': 'false'
                }).removeClass("ui-helper-hidden");
                
                $(".role-management-edit-role").addClass("active");
            });
        </script>
    </ui:define>
    <ui:define name="dialog">
        <p:dialog widgetVar="editUserRoleDialog" 
                  resizable="false"
                  modal="true"
                  header="Edit Roles"
                  closeOnEscape="true"
                  responsive="true">
            <h:form id="editRoleForm" styleClass="stacked-form form-group-table">
                <div class="dialog-body">
                    <div class="form-group">
                        <label class="control-label mandatory">ROLE ID</label>
                        <p:inputText value="#{roleController.selectedUserRole.id}" id="roleId" disabled="true"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label mandatory">ROLE NAME</label>
                        <p:inputText value="#{roleController.selectedUserRole.name}" id="roleName" onkeypress="#{textHelper.inputAlphaNumericSpace}" required="true" requiredMessage="Role Name cannot be empty"/>
                        <p:message for="roleName"/>
                    </div>
                    <div class="form-group form-group-table">
                        <p:dataTable id="userPermissionsTable" 
                                     widgetVar="userPermissionsTable" 
                                     var="perm"
                                     lazy="true"
                                     value="#{userPermissionTable}"
                                     rows="10"  
                                     rowKey="#{perm.id}"
                                     selection="#{roleController.rolePermissions}"
                                     paginator="true" 
                                     rowsPerPageTemplate="5,10,25,50,100"                                                                          
                                     rowIndexVar="rowIndex"
                                     rowSelectMode="checkbox"
                                     paginatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     styleClass="has-toggler has-action-on-last-column"
                                     reflow="true">
                            <p:column>
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="ID" sortBy="#{perm.id}" filterBy="#{perm.id}">
                                <h:outputText value="#{perm.id}" />
                            </p:column>
                            <p:column headerText="Name" sortBy="#{perm.name}" filterBy="#{perm.name}">
                                <h:outputText value="#{perm.name}" />
                            </p:column>
                            <p:column headerText="Host" sortBy="#{perm.host.name}" filterBy="#{perm.host.name}">
                                <h:outputText value="#{perm.host.name}" />
                            </p:column>
                            <p:column selectionMode="multiple"/>
                            <p:rowExpansion>
                              <div class="stacked-form half-width">
                                <div class="form-group">
                                  <h:outputLabel value="URI Pattern" />
                                  <h:inputText value="#{perm.uriPattern}" disabled="true"/>
                                </div>
                                <div class="form-group">
                                  <h:outputLabel value="Matching Strategy" />
                                  <h:inputText value="#{perm.matchingStrategy}" disabled="true"/>
                                </div>
                                <div class="form-group">
                                  <h:outputLabel value="Menu" />
                                  <h:inputText value="#{perm.menu}" disabled="true"/>
                                </div>
                              </div>
                            </p:rowExpansion>
                        </p:dataTable>
                    </div>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="Simpan" 
                                     update=":globalMessages editRoleForm" 
                                     onsuccess="PF('editUserRoleDialog').hide()"
                                     actionListener="#{roleController.updateRole()}">
                        <p:confirm header="Konfirmasi" message="Apakah anda yakin untuk mengubah role ini?"/>
                    </p:commandButton>
                    <p:commandButton value="Batal" styleClass="alt" 
                                     process="@this" 
                                     action="#{roleController.resetUpdateRole()}" 
                                     update=":editRoleForm :main-form"
                                     onclick="PF('editUserRoleDialog').hide()"/>
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>