<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{userController.init()}" />
    </f:metadata>
    <ui:define name="title">
        Edit User
    </ui:define>

    <ui:define name="header">Manajemen User</ui:define>
    <ui:define name="header-content">Ubah User</ui:define>

    <ui:define name="content">
        <h:form id="main-form">
            <p:dataTable var="user" 
                         value="#{userTable}"
                         lazy="true"
                         rows="10"
                         paginator="true" 
                         rowsPerPageTemplate="5,10,25,50,100"
                         rowKey="#{user.id}"
                         rowIndexVar="rowIndex"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         styleClass="has-toggler has-action-on-last-column"
                         reflow="true">
                <p:column>
                    <p:rowToggler />
                </p:column>
                <p:column headerText="ID" filterBy="#{user.id}" sortBy="#{user.id}" styleClass="align-center">
                    <h:outputText value="#{user.id}" />
                </p:column>
                <p:column headerText="Full Name" filterBy="#{user.fullName}" sortBy="#{user.fullName}">
                    <h:outputText value="#{user.fullName}" />
                </p:column>
                <p:column headerText="Roles" styleClass="align-center">
                    <h:outputText value="#{userController.userRolesToString(user)}" />
                </p:column>
                <p:column headerText="Status" styleClass="align-center">
                    <h:outputText value="#{user.status}" />
                </p:column>
                <p:column headerText="">
                    <p:commandLink title="Edit User" 
                                   update=":editUserForm :main-form"  
                                   actionListener="#{userController.setSelectedUser(user)}"
                                   oncomplete="PF('editDialog').show()">
                        <span class="icon-on-form icon-edit"></span>
                    </p:commandLink>
                </p:column>   
                <p:rowExpansion>
                    <form class="stacked-form half-width">
                        <div class="form-group">
                            <p:outputLabel value="Username" />
                            <p:inputText value="#{user.username}" type="text" disabled="true"/>
                        </div>
                        <div class="form-group">
                            <p:outputLabel value="E-Mail" />
                            <p:inputText value="#{user.email}" type="text" disabled="true"/>
                        </div>
                        <div class="form-group">
                            <p:outputLabel value="Registration Date" />
                            <p:inputText value="#{user.registrationTimestamp}" type="text" disabled="true">
                                <f:convertDateTime pattern="#{web.dateOutputFormat}" 
                                                   locale="#{web.locale}" timeZone="#{web.timeZone}" />
                            </p:inputText>
                        </div>
                    </form>
                </p:rowExpansion>
            </p:dataTable>
        </h:form>

        <script>
            $(document).ready(function () {
                $(".user-management").addClass("active");
                $(".user-management-edit-user").addClass("active");
            });
        </script>
    </ui:define>

    <ui:define name="dialog">
        <p:dialog widgetVar="editDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Edit User"
                  closeOnEscape="true"
                  >
            <h:form id="editUserForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group">
                        <h:outputLabel value="Full Name *" for="fullName" />
                        <p:inputText id="fullName" value="#{userController.selectedUser.fullName}" maxlength="64" 
                                     required="true" requiredMessage="Full name cannot be empty" />
                        <p:message for="fullName" />
                    </div>            
                    <div class="form-group">
                        <h:outputLabel value="Username *" for="username" />
                        <p:inputText id="username" value="#{userController.selectedUser.username}" maxlength="64" disabled="true"
                                     required="true" requiredMessage="Usernane cannot be empty" />
                        <p:message for="username" />
                    </div>            
                    <div class="form-group">
                        <h:outputLabel value="E-Mail *" for="email" />
                        <p:inputText id="email" value="#{userController.selectedUser.email}" disabled="true"
                                     required="true" requiredMessage="E-Mail cannot be empty" />
                        <p:message for="email" />
                    </div>            
                    <div class="form-group">
                        <h:outputLabel value="Roles" for="roles" />
                        <p:selectManyCheckbox id="roles" value="#{userController.roleIds}" required="true" requiredMessage="At lease one role must be selected" layout="responsive" columns="3">
                            <f:selectItems value="#{userController.roles}" var="role" itemValue="#{role.id}" itemLabel="#{role.name}" />
                        </p:selectManyCheckbox>
                        <p:message for="roles"/>
                    </div>            
                    <div class="form-group">
                        <h:outputLabel value="Status" for="status" />
                        <p:selectOneMenu id="status" value="#{userController.selectedUser.status}">
                            <f:selectItems value="#{userController.userStatusList}" var="s" itemLabel="#{s.label}" itemValue="#{s.value}"/>
                        </p:selectOneMenu>
                        <p:message for="status" />
                    </div>            
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="Edit User" 
                                     update=":globalMessages editUserForm" 
                                     oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="confirmDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Confirmation">
            <h:form id="confirmDialogForm">
                <div class="dialog-body paragraph-only">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="UPDATE"  
                                     actionListener="#{userController.updateUser()}"
                                     update=":main-form :globalMessages"
                                     oncomplete="PF('confirmDialog').hide();PF('editDialog').hide()">
                        <p:confirm header="Confirmation"
                                   message="Apakah anda yakin?"/>
                    </p:commandButton>
                    <p:commandButton value="CANCEL"  
                                     process="@this"
                                     update=":editUserForm :main-form"
                                     action="#{userController.resetUpdateUser()}"
                                     onclick="PF('confirmDialog').hide();"
                                     styleClass="alt" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
