<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">    

    <ui:define name="header">User Management</ui:define>
    <ui:define name="header-content">View User</ui:define>  

    <ui:define name="content">
        <h:form id="userForm" styleClass="stacked-form">
            <p:dataTable value="#{userTable}" lazy="true" var="user" rows="20"
                         paginator="true" paginatorPosition="#{web.tablePaginatorPosition}"
                         styleClass="has-toggler" reflow="true">
                <p:column>
                    <p:rowToggler />
                </p:column>
                <p:column headerText="ID" filterBy="#{user.id}" sortBy="#{user.id}" styleClass="align-center">
                    <h:outputText value="#{user.id}" />
                </p:column>
                <p:column headerText="Nama Lengkap" filterBy="#{user.fullName}" sortBy="#{user.fullName}">
                    <h:outputText value="#{user.fullName}" />
                </p:column>
                <p:column headerText="Roles" styleClass="align-center">
                    <h:outputText value="#{userController.userRolesToString(user)}" />
                </p:column>
                <p:column headerText="Status" styleClass="align-center">
                    <h:outputText value="#{user.status}" />
                </p:column>
                <p:column>
                    <p:commandLink title="Block"  
                                   rendered="#{(user.status eq 'ACTIVE') ? true : false}"
                                   oncomplete="PF('blockUserDialog').show()"
                                   actionListener="#{userController.setSelectedUser(user)}" 
                                   update=":blockUserDialogForm" >
                        <span class="icon-on-form icon-cross"></span>
                    </p:commandLink>    
                    <p:commandLink title="Unblock"  
                                   rendered="#{(user.status eq 'ACTIVE') ? false : true}"
                                   oncomplete="PF('activeUserDialog').show()"
                                   actionListener="#{userController.setSelectedUser(user)}" 
                                   update=":activeUserDialogForm" >
                        <span class="icon-on-form icon-ok"></span>
                    </p:commandLink>
                </p:column>
                <p:rowExpansion>
                    <form class="stacked-form half-width">
                        <div class="form-group">
                            <p:outputLabel value="Username" />
                            <p:inputText value="#{user.username}" type="text" disabled="true"/>
                        </div>
                        <div class="form-group">
                            <p:outputLabel value="E-Mail" />
                            <p:inputText value="#{user.email}" type="text" disabled="true"/>
                        </div>
                        <div class="form-group">
                            <p:outputLabel value="Tanggal Registrasi" />
                            <p:inputText value="#{user.registrationTimestamp}" type="text" disabled="true">
                                <f:convertDateTime pattern="#{web.dateOutputFormat}" 
                                                   locale="#{web.locale}" timeZone="#{web.timeZone}" />
                            </p:inputText>
                        </div>
                    </form>
                </p:rowExpansion>
            </p:dataTable>
        </h:form>

        <p:dialog header="ACTIVE USER" widgetVar="activeUserDialog"  modal="true" appendTo="@(body)"
                  draggable="false" resizable="false">
            <h:form id="activeUserDialogForm">
                <div class="dialog-body">
                    <p>Apakah anda yakin?</p>
                    <br/>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="YA" 
                                     actionListener="#{userController.active()}"
                                     update=":globalMessages :userForm"
                                     oncomplete="PF('activeUserDialog').hide();"
                                     />
                    <p:commandButton value="TIDAK" styleClass="alt" 					
                                     oncomplete="PF('activeUserDialog').hide();"
                                     />
                </div>
            </h:form>
        </p:dialog>

        <p:dialog header="BLOCK USER" widgetVar="blockUserDialog"  modal="true" appendTo="@(body)"
                  draggable="false" resizable="false">
            <h:form id="blockUserDialogForm">
                <div class="dialog-body">
                    <p>Apakah anda yakin?</p>
                    <br/>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="YA" 
                                     actionListener="#{userController.block()}"
                                     update=":globalMessages :userForm"
                                     oncomplete="PF('blockUserDialog').hide();"
                                     />
                    <p:commandButton value="TIDAK" styleClass="alt" 					
                                     oncomplete="PF('blockUserDialog').hide();"
                                     />
                </div>
            </h:form>
        </p:dialog>

        <script>
            $(document).ready(function () {
                $(".user-management").addClass("active");
                $(".user-management-view-user").addClass("active");
            });
        </script>
    </ui:define>
</ui:composition>
