<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"                
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/layout-main.xhtml">
    <f:metadata>        
    </f:metadata>
    <ui:define name="title">
        View Role
    </ui:define>

    <ui:define name="header">Role Management</ui:define>
    <ui:define name="header-content">View Role</ui:define>

    <ui:define name="content">
        <p>These are available roles with its permissions.</p>
        <h:form class="stacked-form" id="main-form">                                
            <p:dataTable id="userRoleTable" widgetVar="userRoleTable" var="role" lazy="true"
                         value="#{userRoleTable}"
                         rows="10"                                                          
                         paginator="true" 
                         rowsPerPageTemplate="5,10,25,50,100"                                                          
                         rowIndexVar="rowIndex"
                         paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         styleClass="has-toggler"
                         reflow="true">
                <p:ajax event="rowToggle" listener="#{roleController.selectUserRole(role)}" update="userPermissionsTable" /> 
                <p:column>
                    <p:rowToggler /> 
                </p:column>
                <p:column headerText="Nama Role" filterBy="#{role.name}" sortBy="#{role.name}">
                    <h:outputText value="#{role.name}"/>
                </p:column>   
                <p:rowExpansion>                        
                    <p:dataTable id="userPermissionsTable" widgetVar="userPermissionsTable" var="permissions"
                                 value="#{roleController.rolePermissions}"
                                 rows="10"                                                                  
                                 paginator="true" 
                                 lazy="true"
                                 rowsPerPageTemplate="5,10,25,50,100"                                                                          
                                 rowIndexVar="rowIndex"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 reflow="true">
                        <f:facet name="header">
                            Permissions
                        </f:facet>                            
                        <p:column headerText="Menu" filterBy="#{permissions.menu}" filterMatchMode="contains">
                            <h:outputText value="#{permissions.menu}"/>
                        </p:column>
                        <p:column headerText="Nama" filterBy="#{permissions.name}" filterMatchMode="contains">
                            <h:outputText value="#{permissions.name}"/>
                        </p:column>                            
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>                
        </h:form>            

        <script>
            $(document).ready(function () {
                var toBeHidden = "[aria-label='user-management']";
                var toBeShown = "[aria-label='role-management']";

                $(toBeHidden).attr({
                    'aria-expanded': 'false',
                    'aria-selected': 'false'
                }).removeClass("ui-state-active");

                $(toBeHidden + "+ .ui-accordion-content").attr({
                    'aria-hidden': 'true'
                }).addClass("ui-helper-hidden");

                $(toBeShown).attr({
                    'aria-expanded': 'true',
                    'aria-selected': 'true'
                }).addClass("ui-state-active");

                $(toBeShown + "+ .ui-accordion-content").attr({
                    'aria-hidden': 'false'
                }).removeClass("ui-helper-hidden");

                $(".role-management-view-role").addClass("active");
            });
        </script>
    </ui:define>
</ui:composition>