<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{shiftWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Add Shift
    </ui:define>

    <ui:define name="header">Shift Management</ui:define>
    <ui:define name="header-content">Add Shift</ui:define>

    <ui:define name="content">
        <h:form id="add-shift-form" styleClass="stacked-form half-width">
            <div class="form-group">
                <p:outputLabel for="branchName" value="Branch Name" />
                <p:selectOneMenu id="branchName" maxlength="64" value="#{shiftWebController.registrationModel.branchId}"  required="true" requiredMessage="Please Select At Least One Item">
		    <f:selectItem value="#{null}" noSelectionOption="true" itemLabel="-"/>
		    <f:selectItems value="#{shiftWebController.branches}" var="br" itemLabel="#{br.branchName}" itemValue="#{br.id}" />
		</p:selectOneMenu>
                <p:message for="branchName" />
            </div>
            <div class="form-group">
                <p:outputLabel for="startDate" value="Start Date Shift" />
                <p:calendar id="startDate"  
			    value="#{shiftWebController.registrationModel.startDateShift}" 
			    pattern="#{web.timestampInputFormat}"
			    mindate="#{shiftWebController.today}"
			    navigator="true"  required="true" 
			    requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="startDate" />
            </div>
            <div class="form-group">
                <p:outputLabel for="endDate" value="End Date Shift" />
                <p:calendar id="endDate"  value="#{shiftWebController.registrationModel.endDateShift}"  
			    pattern="#{web.timestampInputFormat}" 
			    navigator="true"
			    required="true" 
			    requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="endDate" />
            </div>
	    <hr class="invisible-form-group-separator"/>
	    <p:commandButton value="Add Shift" 
			     oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"
			     update="add-shift-form confirmForm"/>
        </h:form>

        <script>
	    $(document).ready(function () {
		$(".shift-management").addClass("active");
		$(".shift-management-add-shift").addClass("active");
	    });
        </script>

    </ui:define>

    <ui:define name="dialog">
        <!-- CONFIRMATION DIALOG -->
        <p:dialog widgetVar="confirmDialog" header="Confirmation" closeOnEscape="true"
                  modal="true" position="center" resizable="false" draggable="true">
            <h:form id="confirmForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Branch Id" />
                        <h:outputLabel value="#{shiftWebController.registrationModel.branchId}"/>                            
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Start Date" />
                        <h:outputLabel value="#{shiftWebController.registrationModel.startDateShift}" >
			    <f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
			</h:outputLabel>      
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="End Date" />
                        <h:outputLabel value="#{shiftWebController.registrationModel.endDateShift}" >
			    <f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
			</h:outputLabel>      
                    </div>

                </div>                
                <div class="dialog-footer">
                    <p:commandButton value="SUBMIT"
                                     update=" :confirmForm :add-shift-form :globalMessages" 
                                     action="#{shiftWebController.addShift()}"
                                     onsuccess="PF('confirmDialog').hide()">
                        <p:confirm header="Add Branch"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="RESET"
                                     action="#{shiftWebController.clear()}"
                                     update=" :confirmForm :add-shift-form :globalMessages"
                                     onclick="PF('confirmDialog').hide();" styleClass="alt"/>
                </div>
            </h:form>                       
        </p:dialog>
        <!-- END OF CONFIRMATION DIALOG -->

    </ui:define>
</ui:composition>
