<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{shiftWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Assign Shift
    </ui:define>

    <ui:define name="header">Shift Management</ui:define>
    <ui:define name="header-content">Assign Shift</ui:define>

    <ui:define name="content">
        <h:form id="main-form" styleClass="stacked-form">
	    <p:dataTable id="shiftTable" 
			 widgetVar="shiftTable" 
			 value="#{shiftTable}" 
			 lazy="true" var="shift" 
			 rows="10" 
			 rowIndexVar="rowIndex"
                         paginator="true" 
			 styleClass="has-toggler has-action-on-last-column"
			 paginatorPosition="#{web.tablePaginatorPosition}"
                         reflow="true">
                <p:column headerText="No" styleClass="align-center">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="Branch ID" filterBy="#{shift.branchId}"  styleClass="align-center">
                    <p:commandLink value="#{shift.branchId}" 
				   actionListener="#{shiftWebController.findBranch(shift.branchId)}" 
				   oncomplete="PF('branchDetailDialog').show()"
				   update="branchDetailForm"/>
                </p:column>
                <p:column headerText="Start Date" filterBy="#{shift.startDateShift}" sortBy="#{shift.startDateShift}">
		    <f:facet name="filter">
			<p:calendar  pattern="#{web.timestampInputFormat}">
			    <p:ajax event="dateSelect"  oncomplete="PF('shiftTable').filter()"/>
			</p:calendar>
		    </f:facet>
                    <h:outputText value="#{shift.startDateShift}" >
			<f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
		    </h:outputText>
                </p:column>
                <p:column headerText="End Date Address" styleClass="align-center">
		    <f:facet name="filter">
			<p:calendar  pattern="#{web.timestampInputFormat}">
			    <p:ajax event="dateSelect"  oncomplete="PF('shiftTable').filter()"/>
			</p:calendar>
		    </f:facet>
                    <h:outputText value="#{shift.endDateShift}" >
			<f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
		    </h:outputText>
                </p:column>
		<p:column headerText="">
                    <p:commandLink title="Assign Officer" 
                                   update="viewOfficerShiftForm"  
                                   actionListener="#{shiftWebController.findOfficer(shift.id)}"
                                   oncomplete="PF('shiftOfficerDialog').show()">
                        <span class="icon-on-form icon-ok"></span>
                    </p:commandLink>
                </p:column> 
	    </p:dataTable>
        </h:form>
        <script>
	    $(document).ready(function () {
		$(".shift-management").addClass("active");
		$(".shift-management-assign-shift").addClass("active");
	    });
        </script>
    </ui:define>

    <ui:define name="dialog">
	<p:dialog widgetVar="shiftOfficerDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Officer Detail"
                  closeOnEscape="true"
                  >
	    <h:form id="viewOfficerShiftForm">
		<div class="dialog-body">
		    <div class="form-group">
			<p:dataTable id="officerTable" value="#{shiftWebController.officers}" 
				     var="ofc" rows="10" 
				     rowIndexVar="rowIndex"
				     paginator="true" 
				     paginatorPosition="#{web.tablePaginatorPosition}" 
				     widgetVar="officerTable"
				     styleClass="has-toggler has-action-on-last-column"
				     reflow="true">
			    <p:column headerText="No" styleClass="align-center">
				<h:outputText value="#{rowIndex+1}" />
			    </p:column>
			    <p:column headerText="Name" filterBy="#{ofc.name}" sortBy="#{ofc.name}" styleClass="align-left">
				<h:outputText value="#{ofc.name}" />
			    </p:column>
			    <p:column headerText="Officer Type" filterBy="#{ofc.officerTypeId}" styleClass="align-left">
				<f:facet name="filter">
				    <p:selectOneMenu onchange="PF('officerTable').filter()">
					<f:selectItem itemLabel="All" itemValue="" noSelectionOption="true" />
					<f:selectItems value="#{shiftWebController.officerType}" 
						       var="ot" 
						       itemLabel="#{ot.id}" 
						       itemValue="#{ot.id}"/>
				    </p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{ofc.officerTypeId}" />
			    </p:column> 
			    <p:column headerText="">
				<p:commandLink title="Delete Shift Officer" 
					       update="@form :globalMessages"  
					       actionListener="#{shiftWebController.removeOfficer(ofc)}"
					       >
				    <span class="icon-on-form icon-remove"></span>
				    <p:confirm header="Remove Officer"
					       message="Are you sure?"/>
				</p:commandLink>
			    </p:column> 
			</p:dataTable>
		    </div>
		</div>
		<div class="dialog-footer">
		    <p:commandButton value="EDIT"  
                                     update=":selectOfficerForm :globalMessages "
                                     oncomplete="PF('selectOfficerDialog').show()"/>
		    <p:commandButton value="SAVE"  
				     actionListener="#{shiftWebController.assignOfficer()}"
                                     update=":main-form :viewOfficerShiftForm :globalMessages"
                                     oncomplete="PF('shiftOfficerDialog').hide()">
			<p:confirm header="Assign Officer"
                                   message="Are you sure?"/>
		    </p:commandButton>
                    <p:commandButton value="Close" 
				     oncomplete="PF('shiftOfficerDialog').hide()"/>
                </div>
	    </h:form>
	</p:dialog>
	<p:dialog widgetVar="selectOfficerDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Select Officer"
                  closeOnEscape="true"
                  >
	    <h:form id="selectOfficerForm">
		<div class="dialog-body">
		    <div class="form-group">
			<p:dataTable id="selectOfficerTable" value="#{officerTable}" 
				     var="allOfficer" rows="10" 
				     rowIndexVar="rowIndex"
				     paginator="true" 
				     lazy="true"
				     selection="#{shiftWebController.officers}"
				     rowKey="#{allOfficer.id}"
				     paginatorPosition="#{web.tablePaginatorPosition}" 
				     widgetVar="selectOfficerTable"  styleClass="has-action-on-last-column"
				     >
			    <p:column headerText="Name" filterBy="#{allOfficer.name}" sortBy="#{allOfficer.name}" styleClass="align-left">
				<h:outputText value="#{allOfficer.name}" />
			    </p:column>
			    <p:column headerText="Officer Type" styleClass="align-left" filterBy="#{officer.officerTypeId}">
				<f:facet name="filter">
				    <p:selectOneMenu onchange="PF('selectOfficerTable').filter()">
					<f:selectItem itemLabel="All" itemValue="" noSelectionOption="true" />
					<f:selectItems value="#{shiftWebController.officerType}" 
						       var="ot" 
						       itemLabel="#{ot.id}" 
						       itemValue="#{ot.id}"/>
				    </p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{allOfficer.officerTypeId}" />
			    </p:column> 
			    <p:column selectionMode="multiple"/>
			</p:dataTable>
		    </div>

		</div>
		<div class="dialog-footer">
		    <p:commandButton value="SUBMIT"  
                                     update=":viewOfficerShiftForm :globalMessages"
                                     oncomplete="PF('selectOfficerDialog').hide();"/>
                    <p:commandButton value="Close" 
				     oncomplete="PF('selectOfficerDialog').hide()"/>
                </div>
	    </h:form>
	</p:dialog>
	<p:dialog widgetVar="branchDetailDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Branch Detail"
                  closeOnEscape="true"
                  >
            <h:form id="branchDetailForm" styleClass="stacked-form">
                <div class="dialog-body">
		    <div class="form-group">
                        <p:outputLabel for="branchName" value="Branch Name" />
                        <p:inputText id="branchName" maxlength="64" value="#{shiftWebController.branchDetailModel.branchName}" disabled="true"/>
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="email" value="Email" />
                        <p:inputText id="email"  maxlength="64" value="#{shiftWebController.branchDetailModel.email}"  disabled="true"/>                                                           
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="address" value="Address" />
                        <p:inputText id="address" maxlength="64" value="#{shiftWebController.branchDetailModel.address}"  disabled="true" />                                                           
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="branchStatus" value="Branch Status" />
			<p:inputText id="branchStatus" maxlength="64" value="#{shiftWebController.branchDetailModel.branchStatus}" disabled="true" />                                                           
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Branch Type *" for="branchTypes" />
			<p:inputText id="branchTypes" maxlength="64" value="#{shiftWebController.branchDetailModel.branchType}" disabled="true"/>                                                           
                    </div>
		</div>
                <div class="dialog-footer">
                    <p:commandButton value="Close" 
				     oncomplete="PF('branchDetailDialog').hide()"/>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
