<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{shiftWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        View Shift
    </ui:define>

    <ui:define name="header">Shift Management</ui:define>
    <ui:define name="header-content">View Shift</ui:define>

    <ui:define name="content">
        <h:form id="main-form" styleClass="stacked-form">
            <p:dataTable id="shiftTable" widgetVar="shiftTable" value="#{shiftTable}" lazy="true" var="shift" rows="10" rowIndexVar="rowIndex"
                         paginator="true" paginatorPosition="#{web.tablePaginatorPosition}" styleClass="has-toggler has-action-on-last-column"

                         reflow="true">
                <p:column headerText="No" styleClass="align-center">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="Branch ID" filterBy="#{shift.branchId}"  styleClass="align-center">
                    <p:commandLink value="#{shift.branchId}" 
				   actionListener="#{shiftWebController.findBranch(shift.branchId)}" 
				   oncomplete="PF('branchDetailDialog').show()"
				   update="branchDetailForm"/>
                </p:column>
                <p:column headerText="Start Date" filterBy="#{shift.startDateShift}" sortBy="#{shift.startDateShift}">
		    <f:facet name="filter">
			<p:calendar  pattern="#{web.timestampInputFormat}">
			    <p:ajax event="dateSelect"  oncomplete="PF('shiftTable').filter()"/>
			</p:calendar>
		    </f:facet>
                    <h:outputText value="#{shift.startDateShift}" >
			<f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
		    </h:outputText>
                </p:column>
                <p:column headerText="End Date Address" styleClass="align-center">
		    <f:facet name="filter">
			<p:calendar  pattern="#{web.timestampInputFormat}">
			    <p:ajax event="dateSelect"  oncomplete="PF('shiftTable').filter()"/>
			</p:calendar>
		    </f:facet>
                    <h:outputText value="#{shift.endDateShift}" >
			<f:convertDateTime pattern="#{web.timestampOutputFormat}"/>
		    </h:outputText>
                </p:column>
		<p:column headerText="">
                    <p:commandLink title="Edit Shift" 
                                   update=":main-form :editShiftForm"  
                                   actionListener="#{shiftWebController.setSelectedShift(branch)}"
                                   oncomplete="PF('editDialog').show()">
                        <span class="icon-on-form icon-edit"></span>
                    </p:commandLink>

                    <p:commandLink title="View Officer" 
                                   update="viewOfficerShiftForm"  
                                   actionListener="#{shiftWebController.findOfficer(shift.id)}"
                                   oncomplete="PF('shiftOfficerDialog').show()">
                        <span class="icon-on-form icon-ok"></span>
                    </p:commandLink>
                </p:column> 
            </p:dataTable>
            <script>
		$(document).ready(function () {
		    $(".shift-management").addClass("active");
		    $(".shift-management-view-shift").addClass("active");
		});
            </script>
        </h:form>
    </ui:define>
    <ui:define name="dialog">
        <p:dialog widgetVar="editDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Edit Shift"
                  closeOnEscape="true"
                  >
            <h:form id="editShiftForm" styleClass="stacked-form">
                <div class="dialog-body">
		    <div class="form-group">
			<p:outputLabel for="branchName" value="Branch Name" />
			<p:selectOneMenu id="branchName" maxlength="64" value="#{shiftWebController.editModel.branch}"  required="true" requiredMessage="Please Select At Least One Item">
			    <f:selectItem value="#{null}" noSelectionOption="true" itemLabel="-"/>
			    <f:selectItems value="#{shiftWebController.branches}" var="br" itemLabel="#{br.branchName}" itemValue="#{br}"/>
			</p:selectOneMenu>
			<p:message for="branchName" />
		    </div>
		    <div class="form-group">
			<p:outputLabel for="startDate" value="Start Date Shift" />
			<p:calendar id="startDate" 
				    value="#{shiftWebController.editModel.startDateShift}" 
				    pattern="#{web.timestampInputFormat}"
				    navigator="true"  
				    required="true" 
				    requiredMessage="This Field cannot be Empty"/>                                                           
			<p:message for="startDate" />
		    </div>
		    <div class="form-group">
			<p:outputLabel for="endDate" value="End Date Shift" />
			<p:calendar id="endDate"  value="#{shiftWebController.editModel.startDateShift}"  pattern="#{web.timestampInputFormat}" navigator="true" required="true" requiredMessage="This Field cannot be Empty" />                                                           
			<p:message for="endDate" />
		    </div>
		</div>
                <div class="dialog-footer">
                    <p:commandButton value="Edit Branch" 
                                     update=":globalMessages editShiftForm" 
                                     oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"/>
                </div>
            </h:form>
        </p:dialog>
        <p:dialog widgetVar="branchDetailDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Branch Detail"
                  closeOnEscape="true"
                  >
            <h:form id="branchDetailForm" styleClass="stacked-form">
                <div class="dialog-body">
		    <div class="form-group">
                        <p:outputLabel for="branchName" value="Branch Name" />
                        <p:inputText id="branchName" maxlength="64" value="#{shiftWebController.branchDetailModel.branchName}" disabled="true"/>
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="email" value="Email" />
                        <p:inputText id="email"  maxlength="64" value="#{shiftWebController.branchDetailModel.email}"  disabled="true"/>                                                           
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="address" value="Address" />
                        <p:inputText id="address" maxlength="64" value="#{shiftWebController.branchDetailModel.address}"  disabled="true" />                                                           
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="branchStatus" value="Branch Status" />
			<p:inputText id="branchStatus" maxlength="64" value="#{shiftWebController.branchDetailModel.branchStatus}" disabled="true" />                                                           
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Branch Type *" for="branchTypes" />
			<p:inputText id="branchTypes" maxlength="64" value="#{shiftWebController.branchDetailModel.branchType}" disabled="true"/>                                                           
                    </div>
		</div>
                <div class="dialog-footer">
                    <p:commandButton value="Close" 
				     oncomplete="PF('branchDetailDialog').hide()"/>
                </div>
            </h:form>
        </p:dialog>
	<p:dialog widgetVar="shiftOfficerDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Officer Detail"
                  closeOnEscape="true"
                  >
	    <h:form id="viewOfficerShiftForm">
		<div class="dialog-body">
		    <p:dataTable value="#{shiftWebController.officers}" var="officer" rows="10" rowIndexVar="rowIndex"
				 paginator="true" paginatorPosition="#{web.tablePaginatorPosition}" widgetVar="officerTable"
				 reflow="true">
			<p:column headerText="No" styleClass="align-center">
			    <h:outputText value="#{rowIndex+1}" />
			</p:column>
			<p:column headerText="Name" filterBy="#{officer.name}" sortBy="#{officer.name}" styleClass="align-left">
			    <h:outputText value="#{officer.name}" />
			</p:column>
			<p:column headerText="Officer Type" styleClass="align-left">
			    <f:facet name="filter">
				<p:selectOneMenu onchange="PF('officerTable').filter()">
				    <f:selectItem itemLabel="All" itemValue="" noSelectionOption="true" />
				    <f:selectItems value="#{officerWebController.officerType}" 
						   var="ot" 
						   itemLabel="#{ot.id}" 
						   itemValue="#{ot.id}"/>
				</p:selectOneMenu>
			    </f:facet>
			    <h:outputText value="#{officer.officerTypeId}" />
			</p:column> 
			<p:column headerText="Officer Status" styleClass="align-left">
			    <h:outputText value="#{officer.status}" />
			</p:column> 
		    </p:dataTable>
		</div>
		<div class="dialog-footer">
                    <p:commandButton value="Close" 
				     oncomplete="PF('shiftOfficerDialog').hide()"/>
                </div>
	    </h:form>
	</p:dialog>
        <p:dialog widgetVar="confirmDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Confirmation">
            <h:form id="confirmDialogForm">
                <div class="dialog-body paragraph-only">
                    <p>Are you sure?</p>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="UPDATE"  
                                     actionListener="#{shiftWebController.updateShift()}"
                                     update=":main-form :globalMessages"
                                     oncomplete="PF('confirmDialog').hide();PF('editDialog').hide()">
                        <p:confirm header="Confirmation"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="CANCEL"  
                                     process="@this"
                                     update=":editShiftForm :main-form"
                                     action="#{shiftWebController.clear()}"
                                     onclick="PF('confirmDialog').hide();"
                                     styleClass="alt" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
