<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
    </ui:define>
  
    <ui:define name="content">
      <style>
          #welcome-message {
            position: absolute;
            top: 35%;
            left: 50%;
            text-align: center;
          }
          #welcome-message img {
            margin-bottom: 12px;
          }
          
          @media screen and (max-width: 1024px) {
            #welcome-message {
              transform: translateX(-50%);
            }
          }
      </style>
      <div id="welcome-message">
        <img src="#{request.contextPath}/resources/img/welcome-icon.svg"/>
        <p>Silakan gunakan menu di sebelah kiri untuk memulai.</p>
      </div>
    </ui:define>
</ui:composition>