<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">
		Change Password
    </ui:define>
  
    <ui:define name="header">My Profile</ui:define>
    <ui:define name="header-content">Change Password</ui:define>
  
    <ui:define name="content">
        <h:form id="userForm" styleClass="stacked-form half-width">
            <div class="form-group">
                <h:outputLabel value="Old Password *" for="oldPassword" />
                <p:password id="oldPassword" value="#{userProfileController.oldPassword}" maxlength="64"
                             required="true" requiredMessage="Old password cannot be empty" />
                <p:message for="oldPassword" />
            </div>				
            <div class="form-group">
                <h:outputLabel value="New Password *" for="newPassword" />
                <p:password id="newPassword" value="#{userProfileController.newPassword}" maxlength="64"
                             required="true" requiredMessage="New password cannot be empty" />
                <p:message for="newPassword" />
            </div>	
            <div class="form-group">
                <h:outputLabel value="New Password Confirm *" for="newPasswordConfirm" />
                <p:password id="newPasswordConfirm" value="#{userProfileController.newPasswordConfirm}" maxlength="64"
                             required="true" requiredMessage="New password cannot be empty" />
                <p:message for="newPasswordConfirm" />
            </div>	
            <hr class="invisible-form-group-separator"/>
            <p:commandButton value="Update" action="#{userProfileController.changePassword()}" update="@form :globalMessages">
                <p:confirm header="Confirmation" message="Apakah anda yakin?"/>
            </p:commandButton>
            <p:commandButton value="Reset" process="@this" action="#{userProfileController.resetUpdateProfile()}" update="@form" styleClass="alt"/>
		</h:form>
    </ui:define>
</ui:composition>
