<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="title">
		Edit Profile
    </ui:define>
  
    <ui:define name="header">My Profile</ui:define>
    <ui:define name="header-content">Edit Profile</ui:define>
  
    <ui:define name="content">
      <h:form id="userForm" styleClass="stacked-form half-width">
          <p>You can change your Full Name and E-Mail.</p>
          <div class="form-group label-camouflage">
              <h:outputLabel value="User ID :" />
              <h:outputLabel value="#{userProfileController.user.id}"/>
          </div>
          <div class="form-group">
              <h:outputLabel value="Username *" for="username" />
              <p:inputText id="username" value="#{userProfileController.user.username}" maxlength="64"
                                               required="true" requiredMessage="Username cannot be empty" disabled="true"/>
              <p:message for="username" />
          </div>
          <div class="form-group">
              <h:outputLabel value="Full Name *" for="fullName" />
              <p:inputText id="fullName" value="#{userProfileController.user.fullName}" maxlength="64"
                           required="true" requiredMessage="Full name cannot be empty" />
              <p:message for="fullName" />
          </div>				
          <div class="form-group">
              <h:outputLabel value="E-Mail *" for="email" />
              <p:inputText id="email" value="#{userProfileController.user.email}" maxlength="64"
                           required="true" requiredMessage="E-mail cannot be empty" />
              <p:message for="email" />
          </div>
          <hr class="invisible-form-group-separator"/>
          <p:commandButton value="Update" action="#{userProfileController.updateProfile()}" update="@form :globalMessages">
              <p:confirm header="Confirmation" message="Apakah anda yakin?"/>
          </p:commandButton>
          <p:commandButton value="Reset" process="@this" action="#{userProfileController.resetUpdateProfile()}" update="@form" styleClass="alt" />
      </h:form>
    </ui:define>
</ui:composition>
