<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/error.xhtml">
    <ui:define name="title">
        Not Found
    </ui:define>
    <ui:define name="content">
        <!--[if lt IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
        <!-- CONTENTS SHOULD BEGINS HERE-->
        <div id="error-message">
          <img src="#{request.contextPath}/resources/img/error-icon.svg"/>
          <div>
            <h1>Ups...</h1>
            <p>Maaf, halaman yang Anda akses tidak ada.</p>
            <p>Silakan hubungi <a href="mailto:support@adiwisista.com">tim support kami</a> atau kembali ke <a href="#{request.contextPath}/index.xhtml">halaman utama</a> page.</p>
          </div>
        </div>
        <img src="#{request.contextPath}/resources/img/logo-danai-overlay-white.png" id="logo"/>
        <!-- CONTENTS SHOULD ENDS HERE-->
    </ui:define>
</ui:composition>