<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/basic-wl.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:p="http://primefaces.org/ui">
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="email" value="#{userActivationController.email}" />
		</f:metadata>
	</ui:define>
    <ui:define name="title">
        User Activation
    </ui:define>
    <ui:define name="content">
		<h:form id="userActivationForm">
			<p:panel styleClass="page-basic-panel" header="User Activation">
				<div class="form-group">
					<h:outputLabel value="E-Mail" for="email" />
					<p:inputText id="email" value="#{userActivationController.email}" 
								 required="true" requiredMessage="E-Mail cannot be empty" />
					<p:message for="email" />
				</div>
				<div class="form-group">
					<h:outputLabel value="Activation Code" for="activationCode" />
					<p:password id="activationCode" value="#{userActivationController.activationCode}"
								required="true" requiredMessage="Activation code cannot be empty" />
					<p:message for="activationCode" />
				</div>
				<div class="form-group">
					<h:outputLabel value="Password" for="password" />
					<p:password id="password" value="#{userActivationController.password}"
								required="true" requiredMessage="Password cannot be empty" />
					<p:message for="password" />
				</div>
				<div class="form-group">
					<h:outputLabel value="Password Confirm" for="password" />
					<p:password id="passwordConfirm" value="#{userActivationController.passwordConfirm}" 
								required="true" requiredMessage="Password confirm cannot be empty" />
					<p:message for="passwordConfirm" />
				</div>
				<div class="form-group">
					<p:commandButton value="Submit" 
									 action="#{userActivationController.activateUser()}" 
									 update=":globalMessages :userActivationForm">
						<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
					</p:commandButton>&nbsp;
					<h:link value="Back to Login" outcome="/portal/auth/login.xhtml" />
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>

