<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/basic-wl.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="verificationId" value="#{customerEmailVerificationController.emailVerification.verificationId}" />
            <f:viewParam name="email" value="#{customerEmailVerificationController.emailVerification.email}" />
            <f:viewParam name="phone" value="#{customerEmailVerificationController.emailVerification.phone}" />
            <f:viewParam name="token" value="#{customerEmailVerificationController.emailVerification.token}" />
            <f:viewAction action="#{customerEmailVerificationController.verifyEmail()}" />
        </f:metadata>
    </ui:define>
    <ui:define name="title">
        Email Verification
    </ui:define>
    <ui:define name="content">
        <h:form id="emailVerificationForm">
            <p:panel styleClass="page-basic-panel" header="Email Verification" style="width: 460px;"
                     rendered="#{customerEmailVerificationController.customer ne null and not customerEmailVerificationController.expired}">
                <p>
                    Terima kasih telah menggunakan aplikasi <h:outputText value="#{customerEmailVerificationController.accountGroup.name}" style="font-weight: bold"/>.<br/>
                    Alamat email Anda <h:outputText value="#{customerEmailVerificationController.customer.email}" style="font-weight: bold" /> berhasil diverifikasi.
                </p>
            </p:panel>
            <p:panel styleClass="page-basic-panel" header="Email Verification" style="width: 460px;"
                     rendered="#{customerEmailVerificationController.expired}">
                <p>
                    Terima kasih telah menggunakan aplikasi <h:outputText value="#{customerEmailVerificationController.accountGroup.name}" style="font-weight: bold"/>.<br/>
                    Masa berlaku verifikasi email Anda telah habis.<br/>
                    Anda dapat melakukan verifikasi ulang alamat email melalui<br/>
                    <br/>
                    Aplikasi <h:outputText value="#{customerEmailVerificationController.accountGroup.name}" style="font-weight: bold"/> di Menu Pengaturan
                </p>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

