<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/basic.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{authController.init()}" />
        </f:metadata>
    </ui:define>
    <ui:define name="title">
        Login
    </ui:define>
    <ui:define name="content">
        <p:messages id="globalMessages" globalOnly="true" showDetail="true" showSummary="true" />
        <section>
            <div id="form-wrapper">
                <header>
                    <a href="#{request.contextPath}/portal/auth/login.xhtml">
                        <figure><img src="#{request.contextPath}/resources/img/logo-danai.png" alt="Danai"/></figure>
                    </a>
                    <h2>Backoffice Forgot Password</h2>
                    <p>Please type your email for change password.</p>
                </header>
                <h:form id="login-form" styleClass="stacked-form">              
                    <div class="form-group">
                        <label>Email</label><span class="input-icon icon-username"></span>
                        <p:inputText styleClass="with-icon" value="#{authController.email}" required="true" requiredMessage="Email tidak boleh kosong" placeholder="masukkan email anda disini..."/>
                    </div>
                    <p:commandButton value="Submit" actionListener="#{authController.forgotPassword()}" update="@form :globalMessages"/>
                </h:form>
                <p><small>Copyright © 2017 - <span id="current-year"></span>. PT AdiWisista.</small></p>
            </div>
        </section>

        <script>
            $(document).ready(function () {
                var currentYear = new Date;
                $("#current-year").text(currentYear.getFullYear());
            });
        </script>
    </ui:define>
</ui:composition>
