<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/basic.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{authController.init()}" />            
        </f:metadata>
    </ui:define>
    <ui:define name="title">
        Login
    </ui:define>
    <ui:define name="head">        
    </ui:define>
    <ui:define name="content">
        <script type="text/javascript"> //<![CDATA[ 
            var tlJsHost = ((window.location.protocol === "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
            //]]>
        </script>
        <p:messages id="globalMessages" globalOnly="true" showDetail="true" showSummary="true" />
        <section>
            <div id="form-wrapper">
                <header>
                    <figure><img src="#{request.contextPath}/resources/img/logo-daksa.png" alt="Danai"/></figure>
                    <h2>Tracking Dashboard Sign In</h2>
                    <p>Mohon masuk dengan menggunakan <strong>username</strong> dan <strong>password</strong> anda.</p>
                </header>
                <h:form id="login-form" styleClass="stacked-form">              
                    <div class="form-group">
                        <label>Username</label><span class="input-icon icon-username"></span>
                        <p:inputText styleClass="with-icon" value="#{authController.username}" required="true" requiredMessage="Username tidak boleh kosong" placeholder="masukkan username anda disini..."/>
                    </div>
                    <div class="form-group">
                        <label>Password</label><span class="input-icon icon-password"></span>
                        <p:password styleClass="with-icon" value="#{authController.password}" required="true" requiredMessage="Password tidak boleh kosong" placeholder="masukkan password anda disini..."/>
                    </div>
                    <div class="form-group">
                        <div style="background-color: white; padding-left: 30%">
                            <p:graphicImage cache="false" url="/captcha" id="captchaImage" width="100px" style="display: inline-block"/>      
                            <div style="display: inline-block; vertical-align: top; padding-top: 10px">
                                <p:commandLink  title="Refresh Captcha"
                                                actionListener="#{authController.generateCaptcha()}"
                                                process="@this"
                                                update="captchaImage">                                                                           
                                    <span class="icon-on-form icon-captcha"></span>    
                                </p:commandLink>
                            </div>
                        </div>
                        <div style="width: 100%; background-color: white">
                            <p:inputText id="captcha" 
                                         value="#{authController.captcha}" 
                                         label="captcha"
                                         autocomplete="off"/>
                            <p:watermark for="captcha" value="Captcha"/>  
                        </div>                            
                    </div>                    
                    <div class="center-div">
                        <p><p:link outcome="/portal/auth/forgot-password.xhtml" value="Lupa Password?"></p:link></p>                    
                    </div>

                    <p:commandButton value="Masuk" actionListener="#{authController.login()}" update="@form :globalMessages"/>
                </h:form>
                <p><small>Copyright © 2019 - <span id="current-year"></span>. PT Data Aksara Sangkuriang.</small></p>
            </div>
        </section>

        <div id="comodo-secure">
            <script language="JavaScript" type="text/javascript">
                TrustLogo("https://danai.id/resources/img/comodo_secure.png", "CL1", "none");
            </script>
            <a href="https://www.positivessl.com/" id="comodoTL" target="_blank">Positive SSL Wildcard</a>
        </div>

        <script>
            $(document).ready(function () {
                var currentYear = new Date;
                $("#current-year").text(currentYear.getFullYear());
            });
        </script>
    </ui:define>
</ui:composition>
