<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/basic-wl.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:p="http://primefaces.org/ui">
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="token" value="#{resetPasswordController.token}" />
			<f:viewAction action="#{resetPasswordController.init()}" />
		</f:metadata>
	</ui:define>
    <ui:define name="title">
        Reset Password
    </ui:define>
    <ui:define name="content">
		<h:form id="resetPasswordForm">
			<p:panel styleClass="page-basic-panel" header="Reset Password" 
					 rendered="#{resetPasswordController.showResetPassword}">
				<p>
					Please enter e-mail address that you use in your account!
				</p>
				<div class="form-group">
					<h:outputLabel value="E-Mail" for="email" />
					<p:inputText id="email" value="#{resetPasswordController.email}" 
								 required="true" requiredMessage="E-Mail cannot be empty" />
					<p:message for="email" />
				</div>
				<div class="form-group">
					<p:commandButton value="Submit" 
									 action="#{resetPasswordController.resetPassword()}" 
									 update=":globalMessages :resetPasswordForm">
						<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
					</p:commandButton>&nbsp;
					<h:link value="Back to Login" outcome="/portal/auth/login.xhtml" />
				</div>
			</p:panel>
			<p:panel styleClass="reset-password-panel" header="Complete Reset Password" 
					 rendered="#{resetPasswordController.showCompleteResetPassword}">
				<p>
					Please enter the entry code you received from your e-mail!
				</p>
				<div class="form-group">
					<h:outputLabel value="Entry Code" for="entryCode" />
					<p:inputText id="entryCode" value="#{resetPasswordController.entryCode}" />
				</div>
				<hr />
				<p>
					Please enter your new password bellow!
				</p>
				<div class="form-group">
					<h:outputLabel value="Password" for="password" />
					<p:password id="password" value="#{resetPasswordController.password}"
								required="true" requiredMessage="Password cannot be empty" />
					<p:message for="password" />
				</div>
				<div class="form-group">
					<h:outputLabel value="Password Confirm" for="password" />
					<p:password id="passwordConfirm" value="#{resetPasswordController.passwordConfirm}" 
								required="true" requiredMessage="Password confirm cannot be empty" />
					<p:message for="passwordConfirm" />
				</div>
				<div class="form-group">
					<p:commandButton value="Submit" 
									 action="#{resetPasswordController.completeResetPassword()}" 
									 update=":globalMessages :resetPasswordForm">
						<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
					</p:commandButton>&nbsp;
					<h:link value="Back to Login" outcome="/portal/auth/login.xhtml" />
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>