<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{officerWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Add Officer
    </ui:define>

    <ui:define name="header">Officer Management</ui:define>
    <ui:define name="header-content">Add Officer</ui:define>

    <ui:define name="content">
        <h:form id="main-form" styleClass="stacked-form">
            <div class="form-group">
                <p:outputLabel for="officerName" value="Officer Name" />
                <p:inputText id="officerName" maxlength="64" value="#{officerWebController.registrationModel.name}" type="text" required="true" requiredMessage="This Field cannot be Empty"/>
                <p:message for="officerName" />
            </div>
            <div class="form-group">
                <p:outputLabel for="email" value="Email" />
                <p:inputText id="email" maxlength="64" value="#{officerWebController.registrationModel.email}" type="email" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="email" />
            </div>
            <div class="form-group">
                <p:outputLabel for="birthDate" value="Birth Date" />
                <p:calendar id="birthDate" value="#{officerWebController.registrationModel.birthDate}"
                            maxdate="#{officerWebController.today}"
                            navigator="true"
                            yearRange="c-50:c"
                            pattern="#{web.dateInputFormat}"
                            type="text" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="birthDate" />
            </div>
            <div class="form-group">
                <p:outputLabel for="salary" value="Salary" />
                <p:inputNumber id="salary" maxlength="64" value="#{officerWebController.registrationModel.salary}" type="text" required="true" requiredMessage="This Field cannot be Empty" decimalPlaces="2" />                                                           
                <p:message for="salary" />
            </div>
            <div class="form-group">
                <h:outputLabel value="Officer Type *" for="officerTypes" />
                <p:selectOneMenu id="officerTypes" value="#{officerWebController.registrationModel.officerTypeId}"
                                 required="true" requiredMessage="Please Select at least One Item">
                    <f:selectItems value="#{officerWebController.officerType}" var="ot" itemValue="#{ot.id}" itemLabel="#{ot.id}"/>
                </p:selectOneMenu>
                <p:message for="officerTypes" />
            </div>
            <div class="form-group">
                <p:outputLabel for="username" value="Username" />
                <p:inputText id="username" maxlength="64" value="#{officerWebController.registrationModel.username}" type="text" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="username" />
            </div>
            <div class="form-group">
                <p:outputLabel for="password" value="Password" />
                <p:inputText id="password" maxlength="64" value="#{officerWebController.registrationModel.password}" type="password" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="password"/>
            </div>
            <div class="form-group">
                <p:outputLabel for="inputPw" value="Re-Input Password" />
                <p:inputText id="inputPw" maxlength="64" value="#{officerWebController.reinputPassword}" type="password" required="true" requiredMessage="This Field cannot be Empty" >
                    <p:ajax event="blur" listener="#{officerWebController.checkPassword}" update="@form" process="@form"/>
                </p:inputText>                                                           
                <p:message for="inputPw"/>
            </div>
            <hr class="invisible-form-group-separator"/>
            <p:commandButton id="add-officer-button" value="Add Officer" 
                             disabled="#{not officerWebController.safe}"
                             oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"
                             update="main-form confirmForm"/>
        </h:form>

        <script>
            $(document).ready(function () {
                $(".officer-management").addClass("active");
                $(".officer-management-add-officer").addClass("active");
            });
        </script>

    </ui:define>

    <ui:define name="dialog">
        <!-- CONFIRMATION DIALOG -->
        <p:dialog widgetVar="confirmDialog" header="Confirmation" closeOnEscape="true"
                  modal="true" position="center" resizable="false" draggable="true">
            <h:form id="confirmForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="officerName" value="Officer Name" />
                        <p:inputText id="officerName" maxlength="64" value="#{officerWebController.registrationModel.name}" disabled="true"/>
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="email" value="Email" />
                        <p:inputText id="email" maxlength="64" value="#{officerWebController.registrationModel.email}" type="text"  disabled="true"/>                                                           
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="username" value="Username" />
                        <p:inputText id="username" maxlength="64" value="#{officerWebController.registrationModel.username}" type="text" disabled="true" />                                                           
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="birthDate" value="Birth Date" />
                        <p:inputText id="birthDate" maxlength="64" value="#{officerWebController.registrationModel.birthDate}" type="date" disabled="true">
			    <f:convertDateTime pattern="#{web.dateOutputFormat}"/>
			</p:inputText>                                                           
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="salary" value="Salary" />
                        <p:inputText id="salary" maxlength="64" value="#{officerWebController.registrationModel.salary}" type="text" disabled="true"/>                                                           
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel for="officerType" value="Officer Type" />
                        <p:inputText id="officerType" maxlength="64" value="#{officerWebController.registrationModel.officerTypeId}" type="text" disabled="true"/>                                                           
                    </div>


                </div>                
                <div class="dialog-footer">
                    <p:commandButton value="SUBMIT"
                                     update=" :confirmForm :main-form :globalMessages" 
                                     action="#{officerWebController.addOfficer()}"
                                     onsuccess="PF('confirmDialog').hide()">
                        <p:confirm header="Add Branch"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="RESET"
                                     action="#{officerWebController.init()}"
                                     update=" :confirmForm :main-form :globalMessages"
                                     onclick="PF('confirmDialog').hide();" styleClass="alt"/>
                </div>
            </h:form>                       
        </p:dialog>
        <!-- END OF CONFIRMATION DIALOG -->

    </ui:define>
</ui:composition>
