<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{officerWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        View Officer
    </ui:define>

    <ui:define name="header">Officer Management</ui:define>
    <ui:define name="header-content">View Officer</ui:define>

    <ui:define name="content">
        <h:form id="main-form" styleClass="stacked-form">
            <p:dataTable value="#{officerTable}" lazy="true" var="officer" rows="10" rowIndexVar="rowIndex"
                         paginator="true" paginatorPosition="#{web.tablePaginatorPosition}" widgetVar="officerTable" 			 
			 styleClass="has-toggler has-action-on-last-column"
                         reflow="true">
                <p:column headerText="No" styleClass="align-center">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="Name" filterBy="#{officer.name}" sortBy="#{officer.name}" styleClass="align-left">
                    <h:outputText value="#{officer.name}" />
                </p:column>
                <p:column headerText="Birthdate" styleClass="align-left">
                    <h:outputText value="#{officer.birthDate}" >
                        <f:convertDateTime pattern="#{web.dateOutputFormat}"/>
                    </h:outputText>
                </p:column> 
                <p:column headerText="Officer Type" styleClass="align-left">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('officerTable').filter()">
                            <f:selectItem itemLabel="All" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{officerWebController.officerType}" 
                                           var="ot" 
                                           itemLabel="#{ot.id}" 
                                           itemValue="#{ot.id}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{officer.officerTypeId}" />
                </p:column> 
                <p:column headerText="Salary" sortBy="#{officer.salary}" styleClass="align-left">
                    <h:outputText value="#{officer.salary}" />
                </p:column> 
                <p:column headerText="Officer Status" styleClass="align-left">
                    <h:outputText value="#{officer.status}" />
                </p:column> 
                <p:column headerText="">
                    <p:commandLink title="Edit Officer" 
                                   update=":main-form :editOfficerForm"  
                                   actionListener="#{officerWebController.setSelectedOfficer(officer)}"
                                   oncomplete="PF('editDialog').show()">
                        <span class="icon-on-form icon-edit"></span>
                    </p:commandLink>
                </p:column> 
            </p:dataTable>
            <script>
		$(document).ready(function () {
		    $(".officer-management").addClass("active");
		    $(".officer-management-view-officer").addClass("active");
		});
            </script>
        </h:form>
    </ui:define>
    <ui:define name="dialog">
        <p:dialog widgetVar="editDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Edit Branch"
                  closeOnEscape="true"
                  >
            <h:form id="editOfficerForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group">
                        <p:outputLabel for="officerName" value="Officer Name" />
                        <p:inputText id="officerName" maxlength="64" value="#{officerWebController.editModel.name}" type="text" required="true" requiredMessage="This Field cannot be Empty"/>
                        <p:message for="officerName" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="birthDate" value="Birth Date" />
                        <p:calendar id="birthDate" value="#{officerWebController.editModel.birthDate}"
                                    maxdate="#{officerWebController.today}"
                                    navigator="true"
                                    yearRange="c-50:c"
                                    pattern="#{web.dateInputFormat}"
                                    type="text" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                        <p:message for="birthDate" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="salary" value="Salary" />
                        <p:inputNumber id="salary" maxlength="64" value="#{officerWebController.editModel.salary}" type="text" required="true" requiredMessage="This Field cannot be Empty" decimalPlaces="2" />                                                           
                        <p:message for="salary" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Officer Type *" for="officerTypes" />
                        <p:selectOneMenu id="officerTypes" value="#{officerWebController.editModel.officerTypeId}"
                                         required="true" requiredMessage="Please Select at least One Item">
                            <f:selectItems value="#{officerWebController.officerType}" var="ot" itemValue="#{ot.id}" itemLabel="#{ot.id}"/>
                        </p:selectOneMenu>
                        <p:message for="officerTypes" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="username" value="Username" />
                        <p:inputText id="username" maxlength="64" value="#{officerWebController.editModel.username}" disabled="true" />                                                           
                        <p:message for="username" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="email" value="Email" />
                        <p:inputText id="email" maxlength="64" value="#{officerWebController.editModel.email}" disabled="true" />                                                           
                        <p:message for="email" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="officerStatus" value="Officer Status" />
                        <p:selectOneRadio id="officerStatus" value="#{officerWebController.editModel.status}" required="true" requiredMessage="Please Select One">
                            <f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE"/>
                            <f:selectItem itemLabel="INACTIVE" itemValue="INACTIVE"/>
                        </p:selectOneRadio>
                        <p:message for="officerStatus" />
                    </div>

                </div>
                <div class="dialog-footer">
                    <p:commandButton value="Edit Branch" 
                                     update=":globalMessages editOfficerForm" 
                                     oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="confirmDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Confirmation">
            <h:form id="confirmDialogForm">
                <div class="dialog-body paragraph-only">
                    <p>Are you sure?</p>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="UPDATE"  
                                     actionListener="#{officerWebController.updateOfficer()}"
                                     update=":main-form :globalMessages"
                                     oncomplete="PF('confirmDialog').hide();PF('editDialog').hide()">
                        <p:confirm header="Confirmation"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="CANCEL"  
                                     process="@this"
                                     update=":editOfficerForm :main-form"
                                     action="#{officerWebController.clear()}"
                                     onclick="PF('confirmDialog').hide();"
                                     styleClass="alt" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
