<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:insert name="metadata"></ui:insert>
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Danai.id</title>
        <meta name="description" content="Tumbuh Berkembang, Maju Bersama. DANAI adalah platform pinjaman dan investasi pilihan bagi perorangan dan badan usaha."/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Ruly Ardiansyah"/>
        <meta name="theme-color" content="#A2CD3A"/>
        <meta name="apple-mobile-web-app-title" content="DANAI.ID"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#A2CD3A"/>
        <meta name="msapplication-navbutton-color" content="#A2CD3A"/>
        <!-- Favicon & Apple Touch Icon-->
        <link rel="apple-touch-icon" href="#{request.contextPath}/resources/ico/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/ico/favicon.ico"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/normalize.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/main.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/sign-in.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/override-primefaces.css"/>
        <script src="#{request.contextPath}/resources/js/vendor/modernizr-2.8.3.min.js"></script>
    </h:head>
    <h:body>
        <p:ajaxStatus>
            <f:facet name="start">
                <div class="ajax-status">
                    <img src="#{request.contextPath}/resources/img/loader.svg" />
                    <h:outputText value="Loading..." />
                </div>
            </f:facet>  
            <f:facet name="complete"><h:outputText /></f:facet>
        </p:ajaxStatus>
      
        <p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException"
                                onexception="document.location.href = document.location.href;" />
        
        <ui:insert name="content"></ui:insert>

        <h:form>
             <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="YA" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="TIDAK" type="button" styleClass="ui-confirmdialog-no alt" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>
    </h:body>
</html>