<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:insert name="metadata"></ui:insert>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Danai.id</title>
        <meta name="description" content="Tumbuh Berkembang, Maju Bersama. DANAI adalah platform pinjaman dan investasi pilihan bagi perorangan dan badan usaha."/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Ruly Ardiansyah"/>
        <meta name="theme-color" content="#A2CD3A"/>
        <meta name="apple-mobile-web-app-title" content="DANAI.ID"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#A2CD3A"/>
        <meta name="msapplication-navbutton-color" content="#A2CD3A"/>
        <!-- Favicon & Apple Touch Icon-->
        <link rel="apple-touch-icon" href="#{request.contextPath}/resources/ico/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/ico/favicon.ico"/>        
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/error.css"/>        
        <script src="#{request.contextPath}/resources/js/vendor/modernizr-2.8.3.min.js"></script>
        <style>            
            ::-moz-selection {
                background: #00C2C5;
                color: #ffffff;
            }

            ::selection {
                background: #00C2C5;
                color: #ffffff;
            }
            body {
                background: #a2cd3a;
            }
            * {
                font-family: sans-serif;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #ffffff;
            }
            #error-message {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 48%;
                min-width: 360px;
                text-align: left;
                display: flex;
                flex-wrap: wrap;
            }
            #error-message > img:first-child {
                width: 30%;
            }
            #error-message > div:last-child {
                width: 70%;
            }
            h1, p {
                margin: 0;
                font-family: "OrionSans", sans-serif;
            }
            h1 {
                font-size: 3rem;
                line-height: 100%;
                font-weight: normal;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            p {
                line-height: 140%;
                font-size: 14px;
                font-weight: normal;
            }
            #logo {
                position: fixed;
                bottom: 24px;
                right: 24px;
                width: 72px;
            }

            @media screen and (max-width: 1024px) {
                #error-message {
                    flex-direction: row;
                    text-align: center;
                    width: 72%;
                }
                #error-message > img:first-child {
                    width: 100%;
                }
                #error-message > div:last-child {
                    width: 100%;
                }
                #logo {
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%);
                }
            }
        </style>
    </head>
    <h:body>
        <p:ajaxStatus>
            <f:facet name="start">
                <div class="ajax-status">
                    <img src="#{request.contextPath}/resources/img/loader.svg" />
                    <h:outputText value="Loading..." />
                </div>
            </f:facet>  
            <f:facet name="complete"><h:outputText /></f:facet>
        </p:ajaxStatus>

        <p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException"
                                onexception="document.location.href = document.location.href;" />

        <ui:insert name="content"></ui:insert>

    </h:body>
</html>