<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:insert name="metadata"></ui:insert>
    <h:head>
        <meta charset="utf-8"/>
        <meta name="referrer" content="no-referrer" />
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Tracking Dashboard</title>
        <meta name="description" content="Tumbuh Berkembang, Maju Bersama"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Ruly Ardiansyah"/>
        <meta name="theme-color" content="#A2CD3A"/>
        <meta name="apple-mobile-web-app-title" content="TRACKING"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#A2CD3A"/>
        <meta name="msapplication-navbutton-color" content="#A2CD3A"/>
        <!-- Favicon & Apple Touch Icon-->
        <link rel="apple-touch-icon" href="#{request.contextPath}/resources/logo-daksa.png"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/ico/favicon.ico"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/normalize.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/main.css"/>        
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/content-template-fixed-side-bar.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/override-primefaces.css"/>
        <script src="#{request.contextPath}/resources/js/vendor/modernizr-2.8.3.min.js"></script>
    </h:head>
    <h:body>
        <p:growl id="globalMessages" globalOnly="true" showDetail="true" showSummary="true" />
        <p:ajaxStatus>
            <f:facet name="start">
                <div class="ajax-status">
                    <img src="#{request.contextPath}/resources/img/loader.svg"/>
                    <h:outputText value="Loading..." />
                </div>
            </f:facet>  
            <f:facet name="complete"><h:outputText /></f:facet>
        </p:ajaxStatus>

        <header id="page-header">
            <div class="container">
                <ul id="page-breadcrumb">
                    <li><ui:insert name="header" /></li>
                    <li class="active"><ui:insert name="header-content" /></li>
                </ul>
                <ul id="user-links">
                    <li><a href="#">Hello <span>#{pageController.ssoSession.fullName}</span></a>
                        <ul>
                            <li><p:link outcome="/portal/profile/edit-profile.xhtml" value="Change Profile" rendered="#{pageController.hasMenu('EDIT_PROFILE')}"/></li>
                            <li><p:link outcome="/portal/profile/change-password.xhtml" value="Change Password" rendered="#{pageController.hasMenu('CHANGE_PASSWORD')}"/></li>
                            <li><p:link outcome="/portal/auth/logout.xhtml" value="Keluar" /></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

        <section id="main-section">
            <div class="container">
                <ui:insert name="content">

                </ui:insert>
            </div>
        </section>

        <aside id="side-bar">
            <div id="side-bar-content">
                <header><a href="#"><img src="#{request.contextPath}/resources/img/logo-daksa.png" alt="Danai"/></a></header>
                <div id="select-menu-helper-wrapper"></div>
                <nav id="app-menu">
                    <p:accordionPanel>
                        <p:tab title="User Management" rendered="#{pageController.hasMenu('ADD_USER') or 
								   pageController.hasMenu('VIEW_USER') or
								   pageController.hasMenu('EDIT_USER') or
								   pageController.hasMenu('LOG_USER')}" ariaLabel="user-management">
                            <ul>
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ADD_USER')}" outcome="/portal/user/add-user.xhtml" styleClass="user-management-add-user">Add User</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_USER')}" outcome="/portal/user/view-user.xhtml" styleClass="user-management-view-user">View User</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('EDIT_USER')}" outcome="/portal/user/edit-user.xhtml" styleClass="user-management-edit-user">Edit User</h:link>
                                </li>           
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('LOG_USER')}" outcome="/portal/user/audit-trail.xhtml" styleClass="user-management-audit-trail">User Activity Log</h:link>
                                </li>   
                            </ul>
                        </p:tab>
                        <p:tab title="Role Management" rendered="#{pageController.hasMenu('ADD_ROLE') or 
								   pageController.hasMenu('VIEW_ROLE') or
								   pageController.hasMenu('EDIT_ROLE')}" ariaLabel="role-management">
                            <ul>
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ADD_ROLE')}" outcome="/portal/user/add-role.xhtml" styleClass="role-management-add-role">Add Role</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_ROLE')}" outcome="/portal/user/view-role.xhtml" styleClass="role-management-view-role">View Role</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('EDIT_ROLE')}" outcome="/portal/user/edit-role.xhtml" styleClass="role-management-edit-role">Edit Role</h:link>
                                </li>                                    
                            </ul>
                        </p:tab>
                        <p:tab title="Branch Management" rendered="#{pageController.hasMenu('ADD_BRANCH') or 
                                                                     pageController.hasMenu('VIEW_BRANCH') or
                                                                     pageController.hasMenu('EDIT_BRANCH')}" ariaLabel="branch-management">
                            <ul>
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ADD_BRANCH')}" outcome="/branch-management/add-branch.xhtml" styleClass="branch-management-add-branch">Add Branch</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_BRANCH')}" outcome="/branch-management/view-branch.xhtml" styleClass="branch-management-view-branch">View Branch</h:link>
                                </li>                                    

                            </ul>
                        </p:tab>
                        <p:tab title="Officer Management" rendered="#{pageController.hasMenu('ADD_OFFICER') or 
								      pageController.hasMenu('VIEW_OFFICER') or
								      pageController.hasMenu('EDIT_OFFICER')}" ariaLabel="officer-management">
                            <ul>
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ADD_OFFICER')}" outcome="/officer-management/add-officer.xhtml" styleClass="officer-management-add-officer">Add Officer</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_OFFICER')}" outcome="/officer-management/view-officer.xhtml" styleClass="officer-management-view-officer">View Officer</h:link>
                                </li>                                    

                            </ul>
                        </p:tab>
                        <p:tab title="Shift Management" rendered="#{pageController.hasMenu('ADD_SHIFT') or 
								    pageController.hasMenu('VIEW_SHIFT') or
								    pageController.hasMenu('EDIT_SHIFT') or
								    pageController.hasMenu('ASSIGN_SHIFT') or 
								    pageController.hasMenu('VIEW_SHIFT_OFFICER')}" ariaLabel="shift-management">
                            <ul>
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ADD_SHIFT')}" outcome="/shift-management/add-shift.xhtml" styleClass="shift-management-add-shift">Add Shift</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_SHIFT')}" outcome="/shift-management/view-shift.xhtml" styleClass="shift-management-view-shift">View Shift</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('ASSIGN_SHIFT')}" outcome="/shift-management/assign-shift.xhtml" styleClass="shift-management-assign-shift">Assign Shift</h:link>
                                </li>                                    
                                <li>
                                    <h:link rendered="#{pageController.hasMenu('VIEW_SHIFT_OFFICER')}" outcome="/shift-management/view-shift-officer.xhtml" styleClass="shift-management-shift-officer">View Shift Officer</h:link>
                                </li>                                    

                            </ul>
                        </p:tab>
                    </p:accordionPanel>
                </nav>
            </div>
        </aside>

        <ui:insert name="postContent"></ui:insert>
        <ui:insert name="dialog"></ui:insert>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="YES" type="button" styleClass="ui-confirmdialog-yes" />
            <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no alt" />
        </p:confirmDialog>

        <script src="#{request.contextPath}/resources/js/content-template-fixed-side-bar.js"></script>
    </h:body>
</html>

