<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Create Permission
    </ui:define>
    <ui:define name="content">
		<h:form id="permissionForm">
			<p:panel>
				<div class="form-group">
					<h:outputLabel value="Permission ID *:" />
					<p:inputText id="permissionId" value="#{permissionController.permissioId}" maxlength="64"
								 required="true" requiredMessage="Permission ID cannot be empty" />
					<p:message for="permissionId" />
				</div>
				<div class="form-group">
					<h:outputLabel for="permissionName" value="Permission Name *:" />
					<p:inputText id="permissionName" value="#{permissionController.permissionName}" maxlength="64"
								 required="true" requiredMessage="Permission name cannot be empty" />
					<p:message for="permissionName" />
				</div>
				<div class="form-group">
					<h:outputLabel for="host" value="Host *:" />
					<p:selectOneMenu id="host" value="#{permissionController.hostId}" 
									 required="true" requiredMessage="Host cannot be empty">
						<f:selectItem itemLabel="-" itemValue="" />
						<f:selectItems value="#{permissionController.hostList}" var="host" 
									   itemLabel="#{host.name}" itemValue="#{host.id}" />
					</p:selectOneMenu>
					<p:message for="host" />
				</div>
				<div class="form-group">
					<h:outputLabel for="uriPattern" value="URI Pattern:" />
					<p:inputText id="uriPattern" value="#{permissionController.uriPattern}" maxlength="64" />
				</div>
				<div class="form-group">
					<h:outputLabel for="uriMatchingStrategy" value="URI Matching Strategy:" />
					<p:selectOneMenu id="uriMatchingStrategy" value="#{permissionController.uriMatchingStrategy}">
						<f:selectItems value="#{permissionController.uriMatchingStrategyList}" />
					</p:selectOneMenu>
				</div>
				<div class="form-group">
					<h:outputLabel for="menu" value="Menu:" />
					<p:inputText id="menu" value="#{permissionController.menu}" maxlength="255" />
				</div>
				<div class="form-footer">
					<p:commandButton value="Submit" action="#{permissionController.createPermission()}" update="@form :permissionForm:host :globalMessages">
						<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
					</p:commandButton>
					<p:commandButton value="Cancel" process="@this" action="#{permissionController.resetCreatePermission()}" update="@form" />
				</div>
			</p:panel>
		</h:form>
    </ui:define>
</ui:composition>
