<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Create Host
    </ui:define>
    <ui:define name="content">
		<h:form id="hostForm">
			<p:panel>
				<div class="form-group">
					<h:outputLabel for="hostId" value="Host ID *" />
					<p:inputText id="hostId" value="#{hostController.hostId}"
								 required="true" requiredMessage="Host ID cannot be empty"
								 maxlength="32" />
					<p:message for="hostId" />
				</div>
				<div class="form-group">
					<h:outputLabel for="hostName" value="Host Name *" />
					<p:inputText id="hostName" value="#{hostController.hostName}"
								 required="true" requiredMessage="Host name cannot be empty"
								 maxlength="64" />
					<p:message for="hostName" />
				</div>
				<div class="form-group">
					<h:outputLabel for="hostUrl" value="Host URL *" />
					<p:inputText id="hostUrl" value="#{hostController.hostUrl}"
								 required="true" requiredMessage="Host URL cannot be empty" 
								 maxlength="255" />
					<p:message for="hostUrl" />
				</div>
				<div class="form-group">
					<h:outputLabel for="apiKey" value="API Key" />
					<p:inputText id="apiKey" value="#{hostController.apiKey}" maxlength="64" />
					<p:commandButton value="Generate API Key"
									 action="#{hostController.generateApiKey()}"
									 process="@this" update="apiKey" 
									 style="margin-top: 4px;" />
					<p:message for="apiKey" />
				</div>
				<div class="form-group">
					<h:outputLabel for="secretKey" value="Secret Key" />
					<p:inputText id="secretKey" value="#{hostController.secretKey}" maxlength="64" />
					<p:commandButton value="Generate Secret Key"
									 action="#{hostController.generateSecretKey()}"
									 process="@this" update="secretKey"
									 style="margin-top: 4px;" />
					<p:message for="secretKey" />
				</div>
				<div class="form-group">
					<h:outputLabel for="orderNumber" value="Order Number *" />
					<p:spinner id="orderNumber"
							   value="#{hostController.hostOrderNumber}"
							   min="0" max="99" maxlength="2" 
							   required="true" requiredMessage="Order number cannot be empty" />
					<p:message for="orderNumber" />
				</div>
				<div class="form-footer">
					<p:commandButton value="Create" action="#{hostController.createHost()}"
									 process="@form" update="@form :globalMessages">
						<p:confirm header="Confirm Create Host" message="Apakah anda yakin?" />
					</p:commandButton>
					<p:commandButton value="Reset" action="#{hostController.resetHostCreator()}"
									 process="@this" update="@form" />
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>