<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Edit Permission
    </ui:define>

    <ui:define name="content">
		<h:form id="permissionForm">
			<p:outputPanel rendered="#{permissionController.selectedPermission eq null}">
				<p:dataTable id="permTable" value="#{userPermissionTable}" var="perm" lazy="true" 
							 rows="10" paginator="true" paginatorPosition="#{web.tablePaginatorPosition}"
                             reflow="true">
					<p:column style="width:16px">
						<p:rowToggler />
					</p:column>
					<p:column headerText="ID" sortBy="#{perm.id}" filterBy="#{perm.id}">
						<h:outputText value="#{perm.id}" />
					</p:column>
					<p:column headerText="Name" sortBy="#{perm.name}" filterBy="#{perm.name}">
						<h:outputText value="#{perm.name}" />
					</p:column>
					<p:column headerText="Host" sortBy="#{perm.host.name}" filterBy="#{perm.host.name}">
						<h:outputText value="#{perm.host.name}" />
					</p:column>
					<p:column style="width: 60px; text-align: center">
						<p:commandButton icon="ui-icon-pencil" action="#{permissionController.setSelectedPermission(perm)}" 
										 update="@form" title="Edit Permission" styleClass="small-button"
										 rendered="#{not permissionController.isPermissionLocked(perm)}"/>
						<p:commandButton icon="ui-icon-trash" action="#{permissionController.deletePermission(perm)}" 
										 update="@form :globalMessages" title="Delete Permission" 
										 rendered="#{not permissionController.isPermissionLocked(perm)}"
										 styleClass="small-button">
							<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
						</p:commandButton>
					</p:column>
					<p:rowExpansion>
						<p:panelGrid layout="grid" columns="3" styleClass="table-detail" 
									 columnClasses="column-label,column-separator,column-value">
							<h:outputText value="URI Pattern" />
							<h:outputText value=":" />
							<h:outputText value="#{perm.uriPattern}" />

							<h:outputText value="Matching Strategy" />
							<h:outputText value=":" />
							<h:outputText value="#{perm.matchingStrategy}" />

							<h:outputText value="Menu" />
							<h:outputText value=":" />
							<h:outputText value="#{perm.menu}" />
						</p:panelGrid>
					</p:rowExpansion>
				</p:dataTable>
			</p:outputPanel>
			<p:panel rendered="#{permissionController.selectedPermission ne null}">
				<div class="form-group">
					<h:outputLabel value="Permission ID *:" />
					<h:outputText value="#{permissionController.selectedPermission.id}" />
				</div>
				<div class="form-group">
					<h:outputLabel for="permissionName" value="Permission Name *:" />
					<p:inputText id="permissionName" value="#{permissionController.selectedPermission.name}" maxlength="64"
								 required="true" requiredMessage="Permission name cannot be empty" />
					<p:message for="permissionName" />
				</div>
				<div class="form-group">
					<h:outputLabel for="host" value="Host *:" />
					<p:selectOneMenu id="host" value="#{permissionController.hostId}" 
									 required="true" requiredMessage="Host cannot be empty">
						<f:selectItem itemLabel="-" itemValue="" />
						<f:selectItems value="#{permissionController.hostList}" var="host" 
									   itemLabel="#{host.name}" itemValue="#{host.id}" />
					</p:selectOneMenu>
					<p:message for="host" />
				</div>
				<div class="form-group">
					<h:outputLabel for="uriPattern" value="URI Pattern:" />
					<p:inputText id="uriPattern" value="#{permissionController.selectedPermission.uriPattern}" maxlength="64" />
				</div>
				<div class="form-group">
					<h:outputLabel for="uriMatchingStrategy" value="URI Matching Strategy" />
					<p:selectOneMenu id="uriMatchingStrategy" value="#{permissionController.selectedPermission.matchingStrategy}">
						<f:selectItems value="#{permissionController.uriMatchingStrategyList}" />
					</p:selectOneMenu>
				</div>
				<div class="form-group">
					<h:outputLabel for="menu" value="Menu:" />
					<p:inputText id="menu" value="#{permissionController.selectedPermission.menu}" maxlength="255" />
				</div>
				<div class="form-footer">
					<p:commandButton value="Update" action="#{permissionController.updatePermission()}" update="@form :globalMessages">
						<p:confirm header="Confirmation" message="Apakah anda yakin?" icon="ui-icon-alert"  />
					</p:commandButton>
					<p:commandButton value="Cancel" process="@this" action="#{permissionController.resetUpdatePermission()}" update="@form" />
				</div>
			</p:panel>
		</h:form>
    </ui:define>
</ui:composition>
