<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Edit Host
    </ui:define>
    <ui:define name="content">
		<h:form id="hostForm">
			<p:outputPanel rendered="#{hostController.tableVisible}">
				<p:dataTable value="#{hostTable}" lazy="true" var="host" rows="20"
							 paginator="true" paginatorPosition="#{web.tablePaginatorPosition}"
                             reflow="true">
					<p:column headerText="Host ID" sortBy="#{host.id}" filterBy="#{host.id}">
						<h:outputText value="#{host.id}" />
					</p:column>
					<p:column headerText="Host Name" sortBy="#{host.name}" filterBy="#{host.name}">
						<h:outputText value="#{host.name}" />
					</p:column>
					<p:column headerText="Order" sortBy="#{host.orderNumber}" style="width: 80px">
						<h:outputText value="#{host.orderNumber}" styleClass="align-right" />
					</p:column>
					<p:column headerText="URL" sortBy="#{host.url}" filterBy="#{host.url}">
						<h:outputText value="#{host.url}" />
					</p:column>
					<p:column headerText="Status" sortBy="#{host.status}" filterBy="#{host.status}"
							  filterOptions="#{hostController.hostStatusOptions}" style="width: 100px">
						<h:outputText value="#{host.status}" />
					</p:column>
					<p:column style="width: 80px">
						<div class="align-center">
							<p:commandButton icon="fa fa-pencil" styleClass="small-button"
											 title="Edit Host"
											 action="#{hostController.showHostEditor(host)}"
											 process="@this"
											 update="@form"/>
							<p:commandButton icon="fa fa-trash" styleClass="small-button"
											 title="Delete Host"
											 action="#{hostController.deleteHost(host)}"
											 process="@this"
											 update="@form :globalMessages">
								<p:confirm header="Confirm Delete Host" message="Apakah anda yakin?" />
							</p:commandButton>
						</div>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
			<p:panel rendered="#{hostController.editorVisible}">
				<div class="form-group">
					<h:outputLabel for="hostId" value="Host ID *" />
					<h:outputText id="hostId" value="#{hostController.selectedHost.id}" />
				</div>
				<div class="form-group">
					<h:outputLabel for="hostName" value="Host Name *" />
					<p:inputText id="hostName" value="#{hostController.selectedHost.name}"
								 required="true" requiredMessage="Host name cannot be empty"
								 maxlength="64" />
					<p:message for="hostName" />
				</div>
				<div class="form-group">
					<h:outputLabel for="hostUrl" value="Host URL *" />
					<p:inputText id="hostUrl" value="#{hostController.selectedHost.url}"
								 required="true" requiredMessage="Host URL cannot be empty" 
								 maxlength="255" />
					<p:message for="hostUrl" />
				</div>
				<div class="form-group">
					<h:outputLabel for="apiKey" value="API Key" />
					<p:inputText id="apiKey" value="#{hostController.selectedHost.apiKey}" maxlength="64" />
					<p:commandButton value="Generate API Key"
									 action="#{hostController.generateApiKey()}"
									 process="@this" update="apiKey" 
									 style="margin-top: 4px;" />
					<p:message for="apiKey" />
				</div>
				<div class="form-group">
					<h:outputLabel for="secretKey" value="Secret Key" />
					<p:inputText id="secretKey" value="#{hostController.selectedHost.secretKey}" maxlength="64" />
					<p:commandButton value="Generate Secret Key"
									 action="#{hostController.generateSecretKey()}"
									 process="@this" update="secretKey"
									 style="margin-top: 4px;" />
					<p:message for="secretKey" />
				</div>
				<div class="form-group">
					<h:outputLabel for="orderNumber" value="Order Number *" />
					<p:spinner id="orderNumber"
							   value="#{hostController.selectedHost.orderNumber}"
							   min="0" max="99" maxlength="2" 
							   required="true" requiredMessage="Order number cannot be empty" />
					<p:message for="orderNumber" />
				</div>
				<div class="form-group">
					<h:outputLabel for="hostStatus" value="Host Status *" />
					<p:selectOneMenu id="hostStatus" value="#{hostController.selectedHost.status}"
									 required="true" requiredMessage="Host status cannot be empty">
						<f:selectItems value="#{hostController.hostStatusOptions}"/>
					</p:selectOneMenu>
					<p:message for="hostStatus" />
				</div>
				<div class="form-footer">
					<p:commandButton value="Update" action="#{hostController.editHost()}"
									 process="@form" update="@form :globalMessages">
						<p:confirm header="Confirm Update Host" message="Apakah anda yakin?" />
					</p:commandButton>
					<p:commandButton value="Close" action="#{hostController.closeHostEditor()}"
									 process="@this" update="@form" />
				</div>
			</p:panel>
		</h:form>
    </ui:define>
</ui:composition>
