<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Edit Host
    </ui:define>
    <ui:define name="content">
		<h:form id="configForm">
			<p:outputPanel rendered="#{not configController.edit}">
				<p:dataTable value="#{vaConfigTable}" lazy="true" var="config" rows="20"
							 paginator="true" paginatorPosition="#{web.tablePaginatorPosition}"
                             reflow="true">
					<p:column headerText="ID" sortBy="#{config.id}" filterBy="#{config.id}">
						<h:outputText value="#{config.id}" />
					</p:column>
					<p:column headerText="Value" sortBy="#{config.value}" filterBy="#{config.value}">
                        <h:outputText value="#{config.value}" style="text-transform: uppercase;"/>
					</p:column>					
					<p:column style="width: 80px">
						<div class="align-center">
							<p:commandButton icon="fa fa-pencil" styleClass="small-button"
											 title="Edit Host"
											 action="#{configController.prepareEdit(config)}"
											 process="@this"
											 update="@form"/>
						</div>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
			<p:panel rendered="#{configController.edit}">
				<div class="form-group">
					<h:outputLabel for="id" value="ID *" />
					<h:outputText id="id" value="#{configController.selectedConfig.id}" />
				</div>
				<div class="form-group">
					<h:outputLabel value="Value *" />
                    <p:selectOneMenu value="#{configController.selectedConfig.value}">
                        <f:selectItem itemValue="true" itemLabel="TRUE"/>
                        <f:selectItem itemValue="false" itemLabel="FALSE"/>
                    </p:selectOneMenu>
				</div>				
				<div class="form-footer">
					<p:commandButton value="Update" action="#{configController.edit()}"
									 process="@form" update="@form :globalMessages">
						<p:confirm header="Confirm Update Host" message="Apakah anda yakin?" />
					</p:commandButton>
					<p:commandButton value="Close" action="#{configController.close()}"
									 process="@this" update="@form" />
				</div>
			</p:panel>
		</h:form>
    </ui:define>
</ui:composition>
