<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		User Sessions
    </ui:define>
    <ui:define name="content">
		<h:form id="sessionForm">
			<p:dataTable value="#{ssoSessionTable}" var="s" rows="20" lazy="true"
						 paginator="true" paginatorPosition="#{web.tablePaginatorPosition}"
                         reflow="true">
				<p:column style="width:16px">
					<p:rowToggler />
				</p:column>
				<p:column headerText="Name" sortBy="#{s.fullName}" filterBy="#{s.fullName}">
					<h:outputText value="#{s.fullName}" />
				</p:column>
				<p:column headerText="Login Time" sortBy="#{s.createdTimestamp}">
					<h:outputText value="#{s.createdTimestamp}" styleClass="align-center">
						<f:convertDateTime pattern="#{web.timestampOutputFormat}"
										   locale="#{web.locale}" timeZone="#{web.timeZone}" />
					</h:outputText>
				</p:column>
				<p:column headerText="Last Access Time" sortBy="#{s.lastAccessTimestamp}">
					<h:outputText value="#{s.lastAccessTimestamp}" styleClass="align-center">
						<f:convertDateTime pattern="#{web.timestampOutputFormat}"
										   locale="#{web.locale}" timeZone="#{web.timeZone}" />
					</h:outputText>
				</p:column>
				<p:column headerText="Expiry Time" sortBy="#{s.expiryTimestamp}">
					<h:outputText value="#{s.expiryTimestamp}" styleClass="align-center">
						<f:convertDateTime pattern="#{web.timestampOutputFormat}"
										   locale="#{web.locale}" timeZone="#{web.timeZone}" />
					</h:outputText>
				</p:column>
				<p:column style="width: 40px;">
					<div class="align-center">
						<p:commandButton action="#{ssoSessionController.invalidate(s)}"
										 icon="fa fa-close" title="Invalidate" styleClass="small-button"
										 update="@form">
							<p:confirm message="Apakah anda yakin?" header="Session Invalidate" />
						</p:commandButton>
					</div>
				</p:column>
				<p:rowExpansion>
					<p:panelGrid columns="3" columnClasses="table-detail-label,table-detail-separator,table-detail-value" 
								 styleClass="table-detail" layout="grid">
						<h:outputText value="User ID" />:
						<h:outputText value="#{s.ssoUserId}" />
						
						<h:outputText value="Username" />:
						<h:outputText value="#{s.username}" />
						
						<h:outputText value="E-Mail" />:
						<h:outputText value="#{s.email}" />
					</p:panelGrid>
				</p:rowExpansion>
			</p:dataTable>
		</h:form>
    </ui:define>
</ui:composition>
