<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/main.xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
		Test Email
    </ui:define>
    <ui:define name="content">
		<h:form id="hostForm">
			<p:panel>
				<div class="form-group">
					<h:outputLabel for="to" value="To *" />
					<p:inputText id="to" value="#{testEmailController.to}"
								 required="true" requiredMessage="To cannot be empty"
								 maxlength="255" />
					<p:message for="to" />
				</div>
				<div class="form-group">
					<h:outputLabel for="from" value="From" />
					<p:inputText id="from" value="#{testEmailController.from}"
								 maxlength="255" />
					<p:message for="from" />
				</div>
				<div class="form-group">
					<h:outputLabel for="subject" value="Subject *" />
					<p:inputText id="subject" value="#{testEmailController.subject}"
								 required="true" requiredMessage="Subject cannot be empty"
								 maxlength="255" />
					<p:message for="subject" />
				</div>
				<div class="form-group">
					<h:outputLabel for="body" value="Body" />
					<p:inputTextarea id="body" value="#{testEmailController.body}" />
					<p:message for="subject" />
				</div>
				<div class="form-footer">
					<p:commandButton value="Send" action="#{testEmailController.send()}"
									 process="@form" update="@form :globalMessages">
						<p:confirm header="Confirm Send E-Mail" message="Apakah anda yakin?" />
					</p:commandButton>
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>