<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{branchWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        Add Branch
    </ui:define>

    <ui:define name="header">Branch Management</ui:define>
    <ui:define name="header-content">Add Branch</ui:define>

    <ui:define name="content">
        <h:form id="add-branch-form" styleClass="stacked-form half-width">
            <div class="form-group">
                <p:outputLabel for="branchName" value="Branch Name" />
                <p:inputText id="branchName" maxlength="64" value="#{branchWebController.registrationModel.branchName}" type="text" required="true" requiredMessage="This Field cannot be Empty"/>
                <p:message for="branchName" />
            </div>
            <div class="form-group">
                <p:outputLabel for="email" value="Email" />
                <p:inputText id="email" maxlength="64" value="#{branchWebController.registrationModel.email}" type="email" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="email" />
            </div>
            <div class="form-group">
                <p:outputLabel for="address" value="Address" />
                <p:inputText id="address" maxlength="64" value="#{branchWebController.registrationModel.address}" type="text" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                <p:message for="address" />
            </div>
            <div class="form-group">
                <h:outputLabel value="Branch Type *" for="branchTypes" />
                <p:selectOneMenu id="branchTypes" value="#{branchWebController.registrationModel.branchType}"
                                 required="true" requiredMessage="Pilih minimal satu role">
                    <f:selectItems value="#{branchWebController.branchTypes}"/>
                </p:selectOneMenu>
                <p:message for="branchTypes" />
            </div>
            <hr class="invisible-form-group-separator"/>
            <p:commandButton value="Add Branch" 
                             oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"
                             update="add-branch-form confirmForm"/>
        </h:form>

        <script>
            $(document).ready(function () {
                $(".branch-management").addClass("active");
                $(".branch-management-add-branch").addClass("active");
            });
        </script>

    </ui:define>

    <ui:define name="dialog">
        <!-- CONFIRMATION DIALOG -->
        <p:dialog widgetVar="confirmDialog" header="Confirmation" closeOnEscape="true"
                  modal="true" position="center" resizable="false" draggable="true">
            <h:form id="confirmForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Branch Name" />
                        <h:outputLabel value="#{branchWebController.registrationModel.branchName}"/>                            
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Email" />
                        <h:outputLabel value="#{branchWebController.registrationModel.email}" />      
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Branch Type" />
                        <h:outputLabel value="#{branchWebController.registrationModel.branchType}" />      
                    </div>
                    <div class="form-group label-camouflage">
                        <p:outputLabel value="Address" />
                        <h:outputLabel value="#{branchWebController.registrationModel.address}" />      
                    </div>

                </div>                
                <div class="dialog-footer">
                    <p:commandButton value="SUBMIT"
                                     update=" :confirmForm :add-branch-form :globalMessages" 
                                     action="#{branchWebController.createBranch()}"
                                     onsuccess="PF('confirmDialog').hide()">
                        <p:confirm header="Add Branch"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="RESET"
                                     action="#{branchWebController.init()}"
                                     update=" :confirmForm :add-branch-form :globalMessages"
                                     onclick="PF('confirmDialog').hide();" styleClass="alt"/>
                </div>
            </h:form>                       
        </p:dialog>
        <!-- END OF CONFIRMATION DIALOG -->

    </ui:define>
</ui:composition>
