<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/templates/layout-main.xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{branchWebController.init()}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        View Branch
    </ui:define>

    <ui:define name="header">Branch Management</ui:define>
    <ui:define name="header-content">View Branch</ui:define>

    <ui:define name="content">
        <h:form id="main-form" styleClass="stacked-form">
            <p:dataTable value="#{branchTable}" lazy="true" var="branch" rows="10" rowIndexVar="rowIndex"
                         paginator="true" paginatorPosition="#{web.tablePaginatorPosition}" 			 
			 styleClass="has-toggler has-action-on-last-column"
                         reflow="true">
                <p:column headerText="No" styleClass="align-center">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="Branch Name" filterBy="#{branch.branchName}" sortBy="#{branch.branchName}" styleClass="align-left">
                    <h:outputText value="#{branch.branchName}" />
                </p:column>
                <p:column headerText="Email" filterBy="#{branch.email}" sortBy="#{branch.email}">
                    <h:outputText value="#{branch.email}" />
                </p:column>
                <p:column headerText="Branch Address" styleClass="align-left">
                    <h:outputText value="#{branch.address}" />
                </p:column>
                <p:column headerText="Branch Type" styleClass="align-left">
                    <h:outputText value="#{branch.branchType}" />
                </p:column> 
                <p:column headerText="Branch Status" styleClass="align-left">
                    <h:outputText value="#{branch.branchStatus}" />
                </p:column> 
                <p:column headerText="">
                    <p:commandLink title="Edit Branch" 
                                   update=":main-form :editBranchForm"  
                                   actionListener="#{branchWebController.setSelectedBranch(branch)}"
                                   oncomplete="PF('editDialog').show()">
                        <span class="icon-on-form icon-edit"></span>
                    </p:commandLink>
                </p:column> 
            </p:dataTable>
            <script>
		$(document).ready(function () {
		    $(".branch-management").addClass("active");
		    $(".branch-management-view-branch").addClass("active");
		});
            </script>
        </h:form>
    </ui:define>
    <ui:define name="dialog">
        <p:dialog widgetVar="editDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Edit Branch"
                  closeOnEscape="true"
                  >
            <h:form id="editBranchForm" styleClass="stacked-form">
                <div class="dialog-body">
                    <div class="form-group">
                        <p:outputLabel for="branchName" value="Branch Name" />
                        <p:inputText id="branchName" maxlength="64" value="#{branchWebController.editModel.branchName}" type="text" required="true" requiredMessage="This Field cannot be Empty"/>
                        <p:message for="branchName" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="email" value="Email" />
                        <p:inputText id="email" disabled="true" maxlength="64" value="#{branchWebController.editModel.email}" type="email" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                        <p:message for="email" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="address" value="Address" />
                        <p:inputText id="address" maxlength="64" value="#{branchWebController.editModel.address}" type="text" required="true" requiredMessage="This Field cannot be Empty" />                                                           
                        <p:message for="address" />
                    </div>
                    <div class="form-group">
                        <p:outputLabel for="branchStatus" value="Branch Status" />
                        <p:selectOneRadio id="branchStatus" value="#{branchWebController.editModel.branchStatus}" required="true" requiredMessage="Please Select One">
                            <f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE"/>
                            <f:selectItem itemLabel="INACTIVE" itemValue="INACTIVE"/>
                        </p:selectOneRadio>
                        <p:message for="branchStatus" />
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Branch Type *" for="branchTypes" />
                        <p:selectOneMenu id="branchTypes" value="#{branchWebController.editModel.branchType}"
                                         required="true" requiredMessage="Pilih minimal satu role">
                            <f:selectItems value="#{branchWebController.branchTypes}"/>
                        </p:selectOneMenu>
                        <p:message for="branchTypes" />
                    </div>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="Edit Branch" 
                                     update=":globalMessages editBranchForm" 
                                     oncomplete="if (!args.validationFailed) PF('confirmDialog').show()"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="confirmDialog"
                  responsive="true"
                  closable="true"
                  resizable="false"
                  modal="true"
                  header="Confirmation">
            <h:form id="confirmDialogForm">
                <div class="dialog-body paragraph-only">
                    <p>Are you sure?</p>
                </div>
                <div class="dialog-footer">
                    <p:commandButton value="UPDATE"  
                                     actionListener="#{branchWebController.updateBranch()}"
                                     update=":main-form :globalMessages"
                                     oncomplete="PF('confirmDialog').hide();PF('editDialog').hide()">
                        <p:confirm header="Confirmation"
                                   message="Are you sure?"/>
                    </p:commandButton>
                    <p:commandButton value="CANCEL"  
                                     process="@this"
                                     update=":editBranchForm :main-form"
                                     action="#{branchWebController.clear()}"
                                     onclick="PF('confirmDialog').hide();"
                                     styleClass="alt" />
                </div>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
